.box-wrap
    .d-flex
        .box-toggle
            span.material-icons-outlined.text-main.me-2 expand_circle_down
            em 非同步教學
        span.material-icons-outlined.mx-2.text-gray.btn-more-info info
        a.text-link(href="support.html#async") 非同步教學工具
    .more-info
        p 非同步教學定義：當教學者與學習者之間存在時間或空間的分隔，稱為非同步線上學習。
        p 非同步線上學習環境通常利用媒體科技來傳遞課程內容，並提供教學者與學習者、教材與學習者、學習者與學習者之間的雙向互動。
        p 常見的非同步線上學習應用如教學者把教學內容或課堂筆記以圖文或影像形式存放在課程網站中，提供學習者可隨時收看或閱讀；或是學習者利用電腦工具繳交作業；或透過線上討論看板發表意見、進行互動等師生不同時在線上的學習形式，即稱為非同步線上學習。
            small.text-gray (來源出處：
                a.text-link(href="https://terms.naer.edu.tw/detail/1678802/" target="_blank" rel="noopener noreferrer") 國家教育研究院
                | )
    .article-wrap
        ul.list-videos.row
            li.col-md-6
                .box-article
                    h3 基礎工具熟悉與教學備課<br>(因材網為例)
                    div
                        ul.list-videos
                            li
                                a.btn-box-videos(href="#" data-target="#basic-async-1-1")
                                    span.material-icons-outlined play_circle_filled
                                    span 設備準備、師生帳號申請與管理。
                                        em (1)
                            li
                                a.btn-box-videos(href="#" data-target="#basic-async-1-2")
                                    span.material-icons-outlined play_circle_filled
                                    span 因材網教材介紹
                                        em (1)
                            li
                                a.btn-box-videos(href="#" data-target="#basic-async-1-3")
                                    span.material-icons-outlined play_circle_filled
                                    span 知識結構學習及任務指派功能
                                        em (4)
                            li
                                a.btn-box-videos(href="#" data-target="#basic-async-1-4")
                                    span.material-icons-outlined play_circle_filled
                                    span 智慧適性診斷功能
                                        em (1)
            include ./async/1-1.pug
            include ./async/1-2.pug
            include ./async/1-3.pug
            include ./async/1-4.pug
            li.col-md-6
                .box-article
                    h3 課程經營技巧<br>(因材網為例)
                    div
                        ul.list-videos
                            li
                                a.btn-box-videos(href="#" data-target="#basic-async-2-1")
                                    span.material-icons-outlined play_circle_filled
                                    span 單元診斷
                                        em (2)
                            li
                                a.btn-box-videos(href="#" data-target="#basic-async-2-2")
                                    span.material-icons-outlined play_circle_filled
                                    span 班級經營技巧
                                        em (4)
            include ./async/2-1.pug
            include ./async/2-2.pug

            li.col-md-6
                .box-article
                    h3 學生學習分析<br>(因材網為例)
                    div
                        // ul.list-videos
                            li
                                a.btn-box-videos(href="#" data-target="#basic-async-3-1")
                                    span.material-icons-outlined play_circle_filled
                                    span 組卷及共享任務
                                        em (1)
                            li
                                a.btn-box-videos(href="#" data-target="#basic-async-3-2")
                                    span.material-icons-outlined play_circle_filled
                                    span 縱貫診斷測驗
                                        em (2)
                            li
                                a.btn-box-videos(href="#" data-target="#basic-async-3-3")
                                    span.material-icons-outlined play_circle_filled
                                    span 素養導向互動試題操作
                                        em (2)
            include ./async/3-1.pug
            include ./async/3-2.pug
            include ./async/3-3.pug

            li.col-md-6
                .box-article
                    h3 基礎工具熟悉與教學備課<br>(Google Classroom為例)
                    div
                        // ul.list-videos
                            li
                                a.btn-box-videos(href="#" data-target="#basic-async-4-1")
                                    span.material-icons-outlined play_circle_filled
                                    span 申請帳號與建立課程
                                        em (1)
                            li
                                a.btn-box-videos(href="#" data-target="#basic-async-4-2")
                                    span.material-icons-outlined play_circle_filled
                                    span 課堂功能介紹(公告、訊息串、成員等)
                                        em (2)
            include ./async/4-1.pug
            include ./async/4-2.pug

            li.col-md-6
                .box-article
                    h3 課程經營技巧<br>(Google Classroom為例)
                    div
                        // ul.list-videos
                            li
                                a(href="#" data-target="#basic-async-5-1")
                                    span.material-icons-outlined play_circle_filled
                                    span 以文本教材搭配Classroom公告課程進度、上傳作業或派發線上課堂作業、設計線上測驗題等
                                        em (1)
            include ./async/5-1.pug
