.box-section#about.mt-5
    h2.title-main
        span.material-icons-outlined info
        | 關於本站
    .box-content#index-about
        p 因應新型冠狀病毒疫情之學生居家自主健康管理及防疫期間的學習需求，以及為引導各級學校準備與實施線上教學，教育部邀集有數位教學經驗的教師錄製線上教學概論、線上混成教學實施方式等影音課程；並彙集教育部教育雲及民間數位學習資源、平臺與工具，提供教師數位教學及學生自學參考使用。
        img(src="./dist/img/bg-about.png" alt="bg-about")
