.banner-2
    picture
        source(srcset="./dist/img/desktop.png" media="(min-width: 1024px)")
        source(srcset="./dist/img/tablet.png" media="(min-width: 576px)")
        img.w-100(src="./dist/img/mobile.png" alt="線上教學便利包")
