.box-section#daily.mt-5
    h2.title-main
        span.material-icons-outlined event
        | 訊息公告
    .box-content
        ul.list-daily
            li.open
                div
                    span.material-icons-outlined.text-main emoji_objects
                    em 2021.06.28
                p
                    a.text-link(href="http://srl.ntue.edu.tw/news/20210628%E7%B7%9A%E4%B8%8A%E6%95%99%E5%AD%B8%E6%95%99%E5%B8%AB%E5%A2%9E%E8%83%BD%E7%B3%BB%E5%88%97%E8%AA%B2%E7%A8%8B%E8%A1%A80602-0701.html" target="_blank" rel="noopener noreferrer") [線上教學教師增能研習系列課程表 0602-0701]
                a.btn-daily 閱讀更多
            li
                div
                    em 2021.06.30
                p
                    | 因應疫情教育部業擬定「
                    a(href="dist/pdf/1100621.pdf") 全國高級中等以下學校學生居家線上學習參考指引
                    | 」供參考。
                a.btn-daily 閱讀更多
            li
                div
                    em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源：
                    a.text-link(href="https://lfh.edu.tw/withoutlogin.html" target="_blank" rel="noopener noreferrer") 因材網學習資源
                    | 、
                    a.text-link(href="https://www.youtube.com/channel/UCFfPPM-2hZrctgmlyYHawmw" target="_blank" rel="noopener noreferrer") 因材網Youtube
                    | 、
                    a.text-link(href="https://lfh.edu.tw/tvprogramlist.html" target="_blank" rel="noopener noreferrer") 電視公播資源
                a.btn-daily 閱讀更多
            li.open
                div
                    span.material-icons-outlined.text-main emoji_objects
                    em 2021.06.28
                p
                    a.text-link(href="http://srl.ntue.edu.tw/news/20210621%E7%B7%9A%E4%B8%8A%E6%95%99%E5%AD%B8%E6%95%99%E5%B8%AB%E5%A2%9E%E8%83%BD%E7%B3%BB%E5%88%97%E8%AA%B2%E7%A8%8B%E8%A1%A80602-0630(0623%E6%9B%B4%E6%96%B0).html" target="_blank" rel="noopener noreferrer") [線上教學教師增能研習系列課程表 0602-0630]
                a.btn-daily 閱讀更多
            li
                div
                    em 2021.05.26
                p 本部補助公共電視臺製作「
                    a.text-link(href="https://video.cloud.edu.tw/video/co_topic_2.php?cat=18" target="_blank" rel="noopener noreferrer") 疫起線上看
                    | 」教學節目，內含藝術、綜合活動、健康與體育、科技等4大領域，適合中小學居家學習及學校教學補充教材，歡迎線上觀看。
                a.btn-daily 閱讀更多
        a.btn-show-all.btn-old 歷史公告
            span.material-icons-outlined arrow_forward
        .bar.bar-yellow.my-5
        ul.list-btns
            li
                a(href="map.html")
                    img(src="./dist/img/bar/red.svg" alt="課程地圖")
                    span 課程地圖
            li
                a(href="support.html")
                    img(src="./dist/img/bar/orange.svg" alt="工具與資源")
                    span 工具與資源
            li
                a(href="plans.html")
                    img(src="./dist/img/bar/blue.svg" alt="網路優惠方案")
                    span 網路優惠方案
            li
                a(href="faq.html")
                    img(src="./dist/img/bar/brown.svg" alt="常見問題")
                    span 常見問題
            li
                a(href="contact.html")
                    img(src="./dist/img/bar/green.svg" alt="客服資訊")
                    span 客服資訊
            li
                a(href="units.html")
                    img(src="./dist/img/bar/red.svg" alt="協力單位")
                    span 協力單位
