.box-section#daily.mt-5
    h2.title-main
        span.material-icons-outlined event
        | 訊息公告
    .box-content
        ul.list-daily
            li
                div
                    span.material-icons-outlined.text-main emoji_objects
                    em 2021.05.26
                p 因應國內疫情警戒升級，為降低群聚感染之風險，維護學校師生健康及學習權益， 教育部發布自110年5月19日(三)起至6月14日(一)止，全國各級學校及公私立幼兒園因應國內疫情警戒升級，為降低群聚感染之風險，維護學校師生健康及學習權益， 教育部發布自110年5月19日(三)起至6月14日(一)止，全國各級學校及公私立幼兒園因應國內疫情警戒升級，為降低群聚感染之風險，維護學校師生健康及學習權益， 教育部發布自110年5月19日(三)起至6月14日(一)止，全國各級學校及公私立幼兒園維護學校師生健康及學習權益， 教育部發布自110年5月19日(三)起至6月14日(一)止，維護學校師生健康及學習權益， 教育部發布自110年5月19日(三)
                a.btn-daily 閱讀更多
            li
                div
                    em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-daily 閱讀更多
            li
                div
                    em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-daily 閱讀更多
            li
                div
                    em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-daily 閱讀更多
            li
                div
                    em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-daily 閱讀更多
            li
                div
                    em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-daily 閱讀更多
            li
                div
                    em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-daily 閱讀更多
            li
                div
                    em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-daily 閱讀更多
        a.btn-show-all.btn-old 歷史公告
            span.material-icons-outlined arrow_forward
        .bar.bar-yellow.my-5
        ul.list-btns
            li
                a(href="map.html")
                    img(src="./dist/img/bar/red.svg" alt="課程地圖")
                    span 課程地圖
            li
                a(href="support.html")
                    img(src="./dist/img/bar/orange.svg" alt="工具與資源")
                    span 工具與資源
            li
                a(href="plans.html")
                    img(src="./dist/img/bar/blue.svg" alt="網路優惠方案")
                    span 網路優惠方案
            li
                a(href="faq.html")
                    img(src="./dist/img/bar/brown.svg" alt="常見問題")
                    span 常見問題
            li
                a(href="contact.html")
                    img(src="./dist/img/bar/green.svg" alt="客服資訊")
                    span 客服資訊
