.modal.fade#modal-news(tabindex="-1" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title 特殊快訊
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                #modal-news-body

