.box-section#news.mt-5
    h2.title-main
        span.material-icons-outlined campaign
        | 特殊快訊
    .box-content
        ul.list-news
            li
                em 2021.05.26
                p 教育部徵收公視頻道《疫起線上看》內含藝術、綜合活動、健康體育、科技等四大領域。適合中小學生居家學習及學校教學補充教材。歡迎線上收看教育部徵收公視頻道《疫起線上看》內含藝術、綜合活動、健康體育、科技等四大領域。適合中小學生居家學習及學校教學補充教材。歡迎線上收看
                a.btn-news 閱讀更多
            li
                em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-news 閱讀更多
            li
                em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-news 閱讀更多
            li
                em 2021.05.26
                p 教育部徵收公視頻道《疫起線上看》內含藝術、綜合活動、健康體育、科技等四大領域。適合中小學生居家學習及學校教學補充教材。歡迎線上收看教育部徵收公視頻道《疫起線上看》內含藝術、綜合活動、健康體育、科技等四大領域。適合中小學生居家學習及學校教學補充教材。歡迎線上收看
                a.btn-news 閱讀更多
            li
                em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-news 閱讀更多
            li
                em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-news 閱讀更多
            li
                em 2021.05.26
                p 教育部徵收公視頻道《疫起線上看》內含藝術、綜合活動、健康體育、科技等四大領域。適合中小學生居家學習及學校教學補充教材。歡迎線上收看教育部徵收公視頻道《疫起線上看》內含藝術、綜合活動、健康體育、科技等四大領域。適合中小學生居家學習及學校教學補充教材。歡迎線上收看
                a.btn-news 閱讀更多
            li
                em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-news 閱讀更多
            li
                em 2021.05.26
                p 學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源學生在家進行線上遠距學習時，為避免因大量同時使用而造成不順情形，本部同時建立分流機制，以利師生在單一平臺壅塞時，仍可存取線上教學資源
                a.btn-news 閱讀更多
        a.btn-show-all.btn-old 早期快訊
            span.material-icons-outlined arrow_forward
