.box-section#async
    h2.title-main
        span.material-icons-outlined auto_stories
        | 非同步教學工具
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 中小學
            .article-wrap
                ul.list-table.list-table-3.mb-4
                    li
                        ol
                            li 網站
                            li 內容
                            li 使用方式
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://adl.edu.tw/withoutlogin.html" target="_blank" rel="noopener noreferrer") 因材網+學習拍
                            li
                                h4 內容
                                div 學習科目及年級
                                    ul
                                        li 國語文 - 1至9年級、108課綱1-2年級、7-8年級、10-11年
                                        li 數學 - 1至9年級、108課綱1-2年級、7-8年級、10-11年級
                                        li 自然 - 3至6年級、理化、108課綱-生物、地科
                                        li 英語文 - 108課綱-3至11年級
                                    p.mb-0 另提供教師備課後遠端進行教學和指派學生學習內容、測驗與作業等學習活動。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://adl.edu.tw/HomePage/webinfo/?id=4" target="_blank" rel="noopener noreferrer") 《操作手冊及影片》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.coolenglish.edu.tw/?code=H1" target="_blank" rel="noopener noreferrer") 教育部英語線上學習平臺
                            li
                                h4 內容
                                div 平臺以9-18歲之國中小及高中(職)學生為對象，採任務式學習及互動方式呈現課程，學習內容包含聽力、口說、閱讀、寫作、字彙、文法、基本學習、會考(學測/指考/統測)試題、各版課本補充資源及遊戲等全方位英語學習課程，提供全國國中小及高中(職)學生全年無休的英語線上學習服務，包含影片2,589部及測驗題9,630題。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://drive.google.com/drive/folders/1wz-H2G9UC2E748RolOa7FY6DEZmY3V3M" target="_blank" rel="noopener noreferrer") 《教學影片》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://cirn.moe.edu.tw/Facet/Home/index.aspx?HtmlName=Home&ToUrl=" target="_blank" rel="noopener noreferrer") 教育部國民中小學課程與教學資源整合平臺CIRN
                            li
                                h4 內容
                                div 以教師為主，內容分為12個構面，內含20個新建網頁資源及50個連結本部以外之網站，提供12年課綱最新、最完整的資訊及輔導團產出之教材、教案等。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://cirn.moe.edu.tw/Upload/NEWS/637070098516920185.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《操作手冊》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://cooc.tp.edu.tw/" target="_blank" rel="noopener noreferrer") 臺北市酷課雲
                            li
                                h4 內容
                                div 包括國小、國中、高中職階段教學資源，提供「線上教學影片」約11,964部、「線上試題」約43,821題、「酷課網路學校」公開課程數約277門。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://sites.google.com/view/cooc-resouce-instruction" target="_blank" rel="noopener noreferrer") 《操作說明》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://hahay.tn.edu.tw/" target="_blank" rel="noopener noreferrer") 臺南市飛番雲-創課坊
                            li
                                h4 內容
                                div 集合全國各級機關、學者、學校、教師、學生、業者等，提供國小、國中各學習領域教學資源、符合課程單元的知識，約1800筆影音或電子書。
                            li
                                h4 使用方式
                                div 使用諮詢服務：
                                    a.text-link(href="mailto:service@tn.edu.tw" target="_blank" rel="noopener noreferrer") service@tn.edu.tw
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.egame.kh.edu.tw/login" target="_blank" rel="noopener noreferrer") 高雄市E-game
                            li
                                h4 內容
                                div 以遊戲式學習的方式讓學生進行自主學習，內容有英文單字的「英文島」、配合「程式翻轉城市」的主題開發「打寇島」、以訓練學生思考和邏輯推理能力的「賽斯島」及「史丹島」、及以數學為主的「美斯島」。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="http://ap11.egame.kh.edu.tw/doc/egame_readme.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《使用說明書》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.learnmode.net/" target="_blank" rel="noopener noreferrer") LearnMode學習吧
                            li
                                h4 內容
                                div 國中小各版本課程：教學影片、講義、練習題。 跨領域素養導向閱讀理解課程，包含時事、國際新聞、科普文本、閱讀理解評量，AI結合語音辨識，增進數位閱讀理解能力、口語表達及敘事能力。 教師亦可使用平臺工具建立個人線上課程供學生使用。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://www.learnmode.net/activity/content/1577" target="_blank" rel="noopener noreferrer") 《使用說明》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.junyiacademy.org/" target="_blank" rel="noopener noreferrer") 均一教育平台
                            li
                                h4 內容
                                div 包括國小、國中、高中及高職教材影音與測驗。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://www.junyiacademy.org/junyi-teacher-resources/new-topic-1059" target="_blank" rel="noopener noreferrer") 《操作手冊》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://pagamo.org/" target="_blank" rel="noopener noreferrer") PagamO線上學習平臺
                            li
                                h4 內容
                                div 內容涵蓋國小、國中、高中及高職各版本教科書個科目題庫，以及閱讀素養題目。教師使用題庫選題製作回家作業，學生透過遊戲任務完成作業。後臺可查看學生答題狀況、進行補救教學。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://www.youtube.com/watch?v=1lyAQXEki48&list=PLQm7Z_5e808G7R7NkgnZfafHw85zPVXJw" target="_blank" rel="noopener noreferrer") 《教學影片》
                                    br
                                    a.text-link(href="https://s3-ap-northeast-1.amazonaws.com/pagamof2e/PaGamO%E4%BD%BF%E7%94%A8%E6%89%8B%E5%86%8A-%E7%B9%81.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《使用手冊》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://etrans.tw/" target="_blank" rel="noopener noreferrer") 科普一傳十
                            li
                                h4 內容
                                div 以國高中師生為對象，目前累積將近200集，橫跨自然領域的科學教育節目，節目形式為科學家訪談，並透過專屬APP平台可於收視過程中即時推播延伸閱讀和小測驗，並完整記錄學習履歷。教師則可於平台上開設學習社群，遠端發送作業進行簡易評量，更可上傳獨一無二的補充教材給學生使用。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://www.youtube.com/watch?v=1lyAQXEki48&list=PLQm7Z_5e808G7R7NkgnZfafHw85zPVXJw" target="_blank" rel="noopener noreferrer") 《情境影片》
                                    br
                                    | 註：近日內將提供教育雲端帳號登入
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://high.deltamoocx.net/" target="_blank" rel="noopener noreferrer") DeltaMOOCx愛學網
                            li
                                h4 內容
                                div DeltaMOOCx是由台達基金會、國家教育研究院以及數學、物理、電機電子等學群科中心所共同合作，提供高中職數學、物理、化學、生物、地球科學與電機電子群六大群科2,661部影片。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://learning.cloud.edu.tw/onlinelearning_file/%E9%AB%98%E4%B8%AD%E9%AB%98%E5%B7%A5_%E5%B9%B3%E5%8F%B0%E6%93%8D%E4%BD%9C%E8%AA%AA%E6%98%8E-20200320.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《操作手冊》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://www.ewant.org/" target="_blank" rel="noopener noreferrer") 育網開放教育平臺（ewant）
                            li
                                h4 內容
                                div 與國內外97所大專院校和機構合作開課，規劃《
                                    a(href="https://www.ewant.org/local/enterprise/generalcourse.php?id=64" target="_blank" rel="noopener noreferrer") 高中自主學習專區
                                    | 》供全國高中職學生於線上免費修課，修課通過合格後可申請修課通過證明，專區內推薦100門大學教師講授的精彩課程給高中職學生，課程類別涵蓋18學群。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://www.ewant.org/mod/moocforum/faq_forum_list.php" target="_blank" rel="noopener noreferrer") 《常見問題》
                                    br
                                    a.text-link(href="https://drive.google.com/file/d/1b8ejk-w5aQOJQYqXOKxzlQ04KCZrcDbr/view" target="_blank" rel="noopener noreferrer") 《使用手冊》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.openedu.tw/" target="_blank" rel="noopener noreferrer") 中華開放教育平臺(OpenEdu)
                            li
                                h4 內容
                                div 提供教育部補助發展之特定科技領域專業課程，亦針對特定對象（如大學程式教育、準大學生、高中生）開設專區，提供特定對象自學。其中依學群推薦79門課程給高中生。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://docs.google.com/document/d/1qlHKZHGG6EHlKbMxnwTC6fXzt7oQSbW058cgfjh57N0/edit" target="_blank" rel="noopener noreferrer") 《教師操作手冊》
                                    br
                                    a.text-link(href="https://docs.google.com/document/d/1kChdrTOLaTLM26jLIpMmt_ccioV_kkrR2j7xXXr2WOQ/edit" target="_blank" rel="noopener noreferrer") 《學習者操作手冊》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://taiwanlife.org/" target="_blank" rel="noopener noreferrer") 臺灣全民學習平臺(TaiwanLIFE)
                            li
                                h4 內容
                                div 學習者繳費後，經身分認證，參與該校辦理相關課程的實體考試合格後，獲得空大的正式學分，並規劃未來得納入終身學分銀行。推薦其中34門課程給高中生。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://taiwanlife.org/mod/moocforum/faq_forum_list.php" target="_blank" rel="noopener noreferrer") 《問題集》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://www.tocec.org.tw/" target="_blank" rel="noopener noreferrer") 臺灣開放式課程暨教育聯盟(TOCEC)
                            li
                                h4 內容
                                div 提供隨堂側錄後簡單後製的大學課堂教學內容，推薦其中44門課程給高中生。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="http://www.tocec.org.tw/" target="_blank" rel="noopener noreferrer") 《連結》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://get.aca.ntu.edu.tw/getcdb/" target="_blank" rel="noopener noreferrer") 臺灣通識網
                            li
                                h4 內容
                                div 提供大學校院通識教育資料，包括課程大綱、講義、影音課程、延伸閱讀等，亦可下載課程教材包使用。推薦其中21門課程給高中生。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="http://get.aca.ntu.edu.tw/getcdb/info/browse?subj=%25u5e38%25u898b%25u554f%25u7b54&type=title&sort_by=4&order=ASC&rpp=10&etal=-1&offset=0&sort_type=number" target="_blank" rel="noopener noreferrer") 《常見問題》
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 大學
            .article-wrap
                ul.list-table.list-table-2
                    li
                        ol
                            li 網站
                            li 內容
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://oers.taiwanmooc.org/" target="_blank" rel="noopener noreferrer") 開放教育資源平臺(OER)
                            li
                                h4 內容
                                div 彙集創用CC、GNU通用公共授權等無償授權分享的電子教科書、媒體素材等開放式教育資源，提供多種類型主題之應用整合查詢平臺。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://taiwanmooc.org/" target="_blank" rel="noopener noreferrer") 臺灣磨課師課程網 (TaiwanMOOC)
                            li
                                h4 內容
                                div 提供大眾查詢臺灣多個磨課師學習平臺的課程資訊，提供超過 1,000筆資料，含教育部補助的510門課程資訊。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.sharecourse.net/" target="_blank" rel="noopener noreferrer") 學聯網 (ShareCourse)
                            li
                                h4 內容
                                div 以協助青年人強化職場技能及深入探討數位能力培養、AI 與物聯網等課程為主，涵蓋從各領域初階入門到進階進行，合計超過有500門課程。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://univ.deltamoocx.net/" target="_blank" rel="noopener noreferrer") DeltaMOOCx
                            li
                                h4 內容
                                div DeltaMOOCx的大學課程以開設自動化學程為主，強調強化學生在工業自動化領域之專業實力。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://www.ewant.org/" target="_blank" rel="noopener noreferrer") 育網開放教育平臺 (ewant)
                            li
                                h4 內容
                                div 與國內外97所大專院校和機構合作開課，供學員線上免費學習，修課通過合格後可申請修課通過證明。另外，針對同意採認學分之大學在校生設置 《
                                    a.text-link(href="https://www.ewant.org/local/enterprise/generalcourse.php?id=2" target="_blank" rel="noopener noreferrer") 跨校通識
                                    | 》 與 《
                                    a.text-link(href="https://www.ewant.org/local/enterprise/collegepage.php?id=5" target="_blank" rel="noopener noreferrer") SOS暑期線上學院
                                    | 》 專區，修課合格後可獲得學分。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.openedu.tw/" target="_blank" rel="noopener noreferrer") 中華開放教育平臺 (OpenEdu)
                            li
                                h4 內容
                                div 除提供教育部補助發展之特定科技領域專業課程，亦針對特定對象(如大學程式教育、準大學生、高中生)開設專區，提供特定對象自學。至少提供422門課。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://taiwanlife.org/" target="_blank" rel="noopener noreferrer") 臺灣全民學習平臺 (TaiwanLIFE)
                            li
                                h4 內容
                                div 提供資訊、外語、華語教學等多個領域的磨課師課程，供學員隨時隨地線上學習，除免費課程，另設有非正規教育付費學分班課程，學員修習合格後可取得學分證明書，可依各大專校院規定折抵學分。另有部份課程，研習後可取得公務人員終身學習時數。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://www.tocec.org.tw/" target="_blank" rel="noopener noreferrer") 臺灣開放式課程暨教育聯盟 (TOCEC)課程平臺
                            li
                                h4 內容
                                div 提供約1,400門隨堂側錄後簡單後製的課堂教學內容，影片講義可下載後自學。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://get.aca.ntu.edu.tw/getcdb/" target="_blank" rel="noopener noreferrer") 臺灣通識網
                            li
                                h4 內容
                                div 提供大學校院通識教育資料，包括課程大綱、講義、影音課程、延伸閱讀等，亦可下載課程教材包使用。

