.box-section#digit
    h2.title-main
        span.material-icons-outlined build_circle
        | 數位資源
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
            .article-wrap
                ul.list-table.list-table-3.mb-4
                    li
                        ol
                            li 網站
                            li 內容
                            li 使用方式
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://video.cloud.edu.tw/" target="_blank" rel="noopener noreferrer") 教育部教育媒體影音
                            li
                                h4 內容
                                div 匯集各領域學科資源1萬692筆教學影音，提供關鍵字及學科分類檢索查詢。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://video.cloud.edu.tw/video/faq.php" target="_blank" rel="noopener noreferrer") 《常見問題》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://market.cloud.edu.tw/" target="_blank" rel="noopener noreferrer") 教育部教育大市集
                            li
                                h4 內容
                                div 匯集各領域學科資源，含web 資源（教案、素材等） 16萬5,576筆、電子書4,094筆、教育APP 913筆，提供關鍵字及學科分類檢索查詢。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://market.cloud.edu.tw/about/searchtips.jsp" target="_blank" rel="noopener noreferrer") 《搜尋技巧》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://learning.nchu.cloud.edu.tw/onlinelearning/" target="_blank" rel="noopener noreferrer") 教育部教育百科
                            li
                                h4 內容
                                div 收錄國語文、閩南語、客家語、辭書等常用電子辭典約35萬餘筆詞語解釋，提供關鍵字、全文及音讀檢索查詢。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://youtu.be/WAfruCA1fe0" target="_blank" rel="noopener noreferrer") 《教學影片》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://weteach.edu.tw/" target="_blank" rel="noopener noreferrer") 新竹縣合作備課平臺
                            li
                                h4 內容
                                div 新竹縣合作備課平臺	一個數位教學課程製作的夢工廠，讓教師們可以協同合作共創課程，享受平臺各項優越的教學活動模組，設計適性學習內容與學習路徑，與夥伴教師共構課程資源與教學想法。並且可以將產出的課程包裹發佈到課程市集，分享給全國教師。
                            li
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://hualienword.edu.tw/" target="_blank" rel="noopener noreferrer") 花蓮縣字音字形網
                            li
                                h4 內容
                                div 專為孩子設計的學習網，有成語、字音字形、唐詩三百首、國語辭典、論語、注音查詢等功能，讓孩子依據不同的年級、難度與題數，自動產生測驗題目，考驗學習與應用能力。
                            li
                    li
                        ol
                            li
                                h4 網站
                                div 國立公共資訊圖書館
                            li
                                h4 內容
                                div 「
                                    a.text-link(href="https://ebook.nlpi.edu.tw/" target="_blank" rel="noopener noreferrer") 電子書服務平台
                                    | 」提供學校師生以教育雲端帳號登入免費閱讀線上電子書。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://ebook.nlpi.edu.tw/newbie" target="_blank" rel="noopener noreferrer") 《服務說明》
                    li
                        ol
                            li
                                h4 網站
                                div 國立臺灣圖書館
                            li
                                h4 內容
                                div 「
                                    a.text-link(href="https://ebook.nlpi.edu.tw/" target="_blank" rel="noopener noreferrer") 雲端閱讀電子書整合查詢系統
                                    | 」提供免費線上借書，透過各類載具設備隨時隨地上網、輕鬆閱讀。
                                    br
                                    | 「
                                    a.text-link(href="https://hyerm.ntl.edu.tw/ntlerm/index.jsp?login=true&url=resource.jsp%3Fesource_classify%3Ddatabases%26esource_pagetype%3Dclass%26sn%3D1690" target="_blank" rel="noopener noreferrer") 電子資源查詢系統
                                    | 」精選雲端電子資源，除以「適用對象」推薦給師生們使用外，同時提供「資源主題」、「資源類型」、「適用閱讀載具」的功能，能迅速便捷找到所需的線上資源。
                                    br
                                    | 「
                                    a.text-link(href="https://ntledu.ebook.hyread.com.tw/Template/RWD3.0/publisher-page.jsp?id=296" target="_blank" rel="noopener noreferrer") 兒童青少年優良讀物得獎暨好書推薦
                                    | 」精選HyRead ebook電子書暨電子雜誌平臺圖書。
                            li
                                h4 使用方式
                                div 需完成申辦網路辦證
                                    a.text-link(href="https://learning.cloud.edu.tw/onlinelearning_file/%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E5%9C%96%E6%9B%B8%E9%A4%A8%E7%B6%B2%E8%B7%AF%E8%BE%A6%E8%AD%89%E8%AA%AA%E6%98%8E.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《辦證說明》
                    li
                        ol
                            li
                                h4 網站
                                div 國家圖書館
                            li
                                h4 內容
                                div 「
                                    a.text-link(href="https://nclibtv.ncl.edu.tw/web/learning.php" target="_blank" rel="noopener noreferrer") 國圖到你家
                                    | 」免費提供民眾或學生線上閱覽電子書，無需帳號認證。
                                    br
                                    | 「
                                    a.text-link(href="http://rrcils.ncl.edu.tw/nclrrcc/RRCrq" target="_blank" rel="noopener noreferrer") 公共圖書館圖書資源共享平臺
                                    | 」
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://rrcils.ncl.edu.tw/nclrrcc/RRCrq?ID=2&SECU=1123473811&PAGE=ctitle_help_borrowing@@386289720" target="_blank" rel="noopener noreferrer") 《借閱說明》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://dl.myviewboard.com/latest?64" target="_blank" rel="noopener noreferrer") myViewBoard數位教育平台
                            li
                                h4 內容
                                div myViewBoard可作為教學的輔助工具，主要功能包含備課時，各項教學素材(含線上素材)整合、教學展演時所用的註記工具、學生參與的檔案分享、課堂測驗與投票工具等。支援AWS雲端架構，可實體、遠距無痛轉換。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://viewsonic0-my.sharepoint.com/:b:/g/personal/chris_wu_tw_viewsonic_com/ETWIyDDrlUZCp-VRp4RxQfgBgvK8WfGnBJH1xoi3rg-qaw?e=M9C10j" target="_blank" rel="noopener noreferrer") 《Open ID登入說明 》
                                    br
                                    a.text-link(href="https://www.youtube.com/playlist?list=PLYJzE9PqG-iTVDWEb3p79B6FUG9GgOtD1" target="_blank" rel="noopener noreferrer") 《教學影片》
                                    br
                                    a.text-link(href="https://wiki.myviewboard.com/tc:MyViewBoard_for_Windows" target="_blank" rel="noopener noreferrer") 《使用說明》
                                    br
                                    a.text-link(href="https://wiki.myviewboard.com/tc:MyViewBoard_for_Windows_Training_Guide" target="_blank" rel="noopener noreferrer") 《操作手冊》
                                    br
                                    a.text-link(href="https://myviewboard.com/contact/" target="_blank" rel="noopener noreferrer") 《聯絡客服》
                    li
                        ol
                            li
                                h4 出版單位
                                div
                                    a.text-link(href="https://www.hle.com.tw/" target="_blank" rel="noopener noreferrer") 翰林出版
                            li
                                h4 內容
                                div 提供全國各級教師透過翰林官網下載各種教學資源，同時提供教師快速尋找各式數位軟體載點及說明，讓教師快速取得完整備課所需資源及授課可運用之軟體。
                                    a.text-link(href="https://eventprotect.hle.com.tw/" target="_blank" rel="noopener noreferrer") 《翰林防疫不停學網站》
                            li
                    li
                        ol
                            li
                                h4 出版單位
                                div
                                    a.text-link(href="https://945cloud.knsh.com.tw/" target="_blank" rel="noopener noreferrer") 康軒雲
                            li
                                h4 內容
                                div 提供國中小教師下載康軒數位媒體資源，包括教材圖文檔案、教學補充文檔、各式補充影音及雲端題庫出題、派題等功能使用。
                                    a.text-link(href="https://bit.ly/3w7jNB1" target="_blank" rel="noopener noreferrer") 《防疫資源總入口》
                            li
                    li
                        ol
                            li
                                h4 出版單位
                                div
                                    a.text-link(href="https://www.oneclass.com.tw/" target="_blank" rel="noopener noreferrer") 南一書局 OneClass官網
                            li
                                h4 內容
                                div
                                    a.text-link(href="https://www.oneclass.com.tw/digi/" target="_blank" rel="noopener noreferrer") 南一書局數位平台
                                    | 提供國小、國中、高中教師豐富的備課資源，不僅可下載各類多媒體、教學素材、試卷等，同時提供便於課堂使用的各式數位工具。
                                    br
                                    a.text-link(href="https://student.oneclass.com.tw/" target="_blank" rel="noopener noreferrer") 南一防疫資源總入口
                                    | 彙整南一書局防疫數位資源，內含「免登入版」防疫線上書城與防疫題庫，提供停課期間所需教學與自學資源，疫情期間開放全國免費使用
                            li
                    li
                        ol
                            li
                                h4 出版單位
                                div
                                    a.text-link(href="https://www.hle.com.tw/" target="_blank" rel="noopener noreferrer") 龍騰文化
                            li
                                h4 內容
                                div 龍騰文化「
                                    a.text-link(href="https://www.lungteng.com.tw/Web/Sharefile/EDM/109KL/index.html" target="_blank" rel="noopener noreferrer") 停課.教學支援計畫
                                    | 」提供普高、技高教師與學生數位資源及線上學習平臺，於停課時並提供教師三種教學模式建議與步驟說明。 註冊方式-聯繫各校業務或龍騰文化公司客服，電話:
                                    a.text-link(href="tel:0222982933") (02)2298-2933
                            li
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://sites.google.com/view/univ-elearning/%E9%A6%96%E9%A0%81" target="_blank" rel="noopener noreferrer") 大專院校遠距教學課程與線上教學指引
                            li
                                h4 內容
                                div 本指引整合各種資源並提供參考方案，歡迎有需要的大專院校運用，實現數位學習無疆界願景目標。
                            li
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://eteacher.edu.tw/" target="_blank" rel="noopener noreferrer") 中小學網路素養與認知網
                            li
                                h4 內容
                                div 以強化第一線教師資訊素養知能為目標，提供「網路識讀、網路交友、網路沉迷、網路霸凌、網路安全、網路交易、網路法律、網咖現象、禮儀規範」等主題文章、相關教案、專文與新聞等，同時也設有「課綱專區」與「教材包」頁面，網羅各類型資訊素養議題之主題式教材，提供各校教師準備課程參考。
                            li
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://isafe.moe.edu.tw/" target="_blank" rel="noopener noreferrer") 全民資安素養網
                            li
                                h4 內容
                                div 內容包含「遠離網路沉迷、遵守網路禮儀、慎用網路社群、保護個人資料、重視資訊安全」等五大主題數位內容，協助民眾在面對生活中遇到的資安素養相關問題時，提供參考資料或解決方案，以提升民眾資訊安全素養與防護能力。
                            li

