.box-section#sync
    h2.title-main
        span.material-icons-outlined menu_book
        | 同步教學工具
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
            .article-wrap
                ul.list-table.list-table-5.mb-4
                    li
                        ol
                            li 軟體 / 平臺
                            li 可錄影
                            li 互動方式
                            li 應用方式、連線上網
                            li 使用方式
                    li
                        ol
                            li
                                h4 軟體 / 平臺
                                div
                                    a.text-link(href="https://cooc.tp.edu.tw/" target="_blank" rel="noopener noreferrer") 臺北酷課雲-酷課OnO學習管理平臺
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined check
                            li
                                h4 互動方式
                                div 師生視訊影音討論、文字討論、電子白板共筆、線上即時問卷投票功能、線上即時檔案分享、分組討論功能、師生螢幕共享功能。
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 使用教育部雲端帳號登入
                                        li 上課時間不限時。
                                        li 全程強制錄影，課後可於酷課OnO平臺上觀課重播影片。
                                        li 同一間教室教師(主持人)無限制，可由開設教室教師將參與者提升為教師，進行協同教學。
                                        li 具有助教備課功能，可協助授課教師進行線上即時備課的動作，包含上傳講義檔案及畫面重新編排，此動作將不會影響會議及課程的進行。
                                        li 可將學生分組進行線上視訊討論，每間會議室可設定15個小組討論室。
                            li
                                h4 使用方式
                                div
                                    ul.list-unstyled
                                        li
                                            a.text-link(href="https://tronclass.com.tw/public-manual/TronclassManual_Tutorial_Video.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《教學影片連結》
                                        li
                                            a.text-link(href="https://tronclass.com.tw/public-manual/TronclassManual_Teacher.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《教師手冊連結》
                                        li
                                            a.text-link(href="https://tronclass.com.tw/public-manual/TronclassManual_Student.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《學生手冊連結》
                                        li
                                            a.text-link(href="https://apps.apple.com/tw/app/tronclass-%E6%9C%80%E5%A5%BD%E7%94%A8%E7%9A%84%E5%9C%A8%E7%B7%9A%E5%AD%B8%E7%BF%92%E4%BA%92%E5%8B%95%E5%B9%B3%E5%8F%B0/id973028199" target="_blank" rel="noopener noreferrer") 《iOS版》
                                        li
                                            a.text-link(href="https://play.google.com/store/apps/details?id=com.wisdomgarden.trpc" target="_blank" rel="noopener noreferrer") 《Android版》
                                        li
                                            a.text-link(href="https://cooc.tp.edu.tw/news/127?v=search" target="_blank" rel="noopener noreferrer") 《直播操作說明》
                    li
                        ol
                            li
                                h4 軟體 / 平臺
                                div
                                    a.text-link(href="http://drlive.kh.edu.tw/live/" target="_blank" rel="noopener noreferrer") 高雄市達學堂
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined check
                            li
                                h4 互動方式
                                div
                                    ol
                                        li 雙向影音、聊天室
                                        li 毋須下載軟體
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 使用教育部雲端帳號登入
                                        li 最大連線數500人
                            li
                                h4 使用方式
                                div
                                    ul.list-unstyled
                                        li
                                            a.text-link(href="http://drlive.kh.edu.tw/live/resource/theme/default/zh_TW/images/helper/operating_manual/%E9%81%94%E5%AD%B8%E5%A0%82_%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8A_%E7%9B%B4%E6%92%AD_%E8%BA%AB%E5%88%86_%E8%A8%AA%E5%AE%A2.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《操作手冊》
                    li
                        ol
                            li
                                h4 軟體 / 平臺
                                div
                                    a.text-link(href="https://o365.k12cc.tw/" target="_blank" rel="noopener noreferrer") Microsoft Teams(A1)
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined check
                            li
                                h4 互動方式
                                div
                                    ol
                                        li 雙向影音、課堂討論、線上共檔、筆記分享、學生發問和講義檔案管理
                                        li 修習課程者有權限可重複觀看
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 使用教育部雲端帳號登入
                                        li 最大連線數250人
                                        li 永久免費提供給教育單位使用
                            li
                                h4 使用方式
                                div
                                    ul.list-unstyled
                                        li
                                            a.text-link(href="https://www.microsoft.com/taiwan/education/teams-learning-remotely.aspx" target="_blank" rel="noopener noreferrer") 《使用說明》
                    li
                        ol
                            li
                                h4 軟體 / 平臺
                                div Google Meet
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined check
                            li
                                h4 互動方式
                                div
                                    ol
                                        li 雙向影音
                                        li 聊天室
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 使用G Suite教育版，最大連線數100人
                                        li 錄製會議內容可維持兩週的時間。
                            li
                                h4 使用方式
                                div
                                    ul.list-unstyled
                                        li
                                            a.text-link(href="https://gsuite.google.com.tw/intl/zh-TW/products/meet/" target="_blank" rel="noopener noreferrer") 《網站》
                                        li
                                            a.text-link(href="https://learning.cloud.edu.tw/onlinelearning_file/Google%20Meet%20%E6%96%B0%E5%8A%9F%E8%83%BD%E4%BB%8B%E7%B4%B9.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《功能介紹》
                    li
                        ol
                            li
                                h4 軟體 / 平臺
                                div Cisco WebEX
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined check
                            li
                                h4 互動方式
                                div
                                    ol
                                        li 雙向影音
                                        li 聊天室
                                        li 學生發問
                                        li 講義檔案分享
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 電腦(筆記型電腦)免安裝軟體，手機(平板)需安裝APP。首次連線需下載軟體。
                                        li 防疫期間(110.8.10止)提供教師免費申請。 (申請網址：
                                            a.text-link(href="https://pse.is/PW9KL" target="_blank" rel="noopener noreferrer") https://pse.is/PW9KL
                                            | )
                                        li 同時段只可開設1個會議室，會議時間無上限。
                                        li 最大連線數200人。
                            li
                                h4 使用方式
                                div
                                    ul.list-unstyled
                                        li
                                            a.text-link(href="https://learning.cloud.edu.tw/onlinelearning_file/webex%E6%93%8D%E4%BD%9C%E8%AA%AA%E6%98%8E.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《操作說明》
                                        li
                                            a.text-link(href="https://www.youtube.com/watch?v=sEs7Kmlq4L4&feature=youtu.be" target="_blank" rel="noopener noreferrer") 《操作影片》
                                        li
                                            a.text-link(href="https://youtu.be/7HdyPJ2ebU4" target="_blank" rel="noopener noreferrer") 《教學影片_教師》
                                        li
                                            a.text-link(href="https://www.youtube.com/watch?v=_kDl43pNmNg" target="_blank" rel="noopener noreferrer") 《教學影片_學生》
                                        li
                                            a.text-link(href="mailto:service@lancomgroup.com" target="_blank" rel="noopener noreferrer") 客服信箱：service<br>@lancomgroup.com
                                        li
                                            a.text-link(href="tel:0255779699" target="_blank" rel="noopener noreferrer") 客服電話：(02)55779699
                    li
                        ol
                            li
                                h4 軟體 / 平臺
                                div YouTube
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined check
                            li
                                h4 互動方式
                                div 聊天室
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 需註冊
                                        li 連線數，無限制。
                            li
                    li
                        ol
                            li
                                h4 軟體 / 平臺
                                div FB私人社群直播
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined check
                            li
                                h4 互動方式
                                div 聊天室
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 需註冊
                                        li 連線數，無限制。
                            li
                    li
                        ol
                            li
                                h4 軟體 / 平臺
                                div LINE (Live功能)
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined close
                            li
                                h4 互動方式
                                div 聊天室
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 需註冊
                                        li 連線數，無限制。
                            li
                    li
                        ol
                            li
                                h4 軟體 / 平臺
                                div Google Classroom
                            li
                                h4 可錄影
                                div -
                            li
                                h4 互動方式
                                div 聊天室
                            li
                                h4 應用方式、連線上網
                                div
                                    p 非視訊會議軟體，提供下列功能：
                                    ol
                                        li 課程公告欄
                                        li 討論區
                                        li 聊天室
                                        li 測驗工具 (類似google表單)
                                        li 日曆
                                        li 雲端硬碟
                            li
                    li
                        ol
                            li
                                h4 軟體 / 平臺
                                div Jitsi Meet
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined close
                            li
                                h4 互動方式
                                div
                                    ol
                                        li 雙向影音
                                        li 文字聊天室
                                        li 舉手發問
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 免帳號
                                        li 最大連線數75人
                            li
