footer.footer-main
    .container
        nav.nav-footer
            ul
                li#index
                    a(href="index.html") 首頁
                li#map
                    a(href="map.html") 課程地圖
                li#support
                    a(href="support.html") 工具與資源
                li#plans.ms-lg-auto
                    a(href="plans.html") 網路優惠方案
                li#faq
                    a(href="faq.html") 常見問題
                li#contact
                    a(href="contact.html") 客服資訊
                li#units
                    a(href="units.html") 協力單位

