footer.footer-main
    .container
        nav.nav-footer
            ul
                li
                    a(href="index.html") 首頁
                li
                    a(href="map.html") 課程地圖
                    a(href="support.html") 工具與資源
                li
                    a(href="plans.html") 網路優惠方案
                    a(href="faq.html") 常見問題
                li
                    a(href="contact.html") 客服資訊
                    a(href="units.html") 協力單位
                // li
                    img.mw-100(src="dist/img/accessibility.png" alt="無障礙標章" width="180")
        .address
            address Copyright &copy; 2021 教育部教育雲

