footer.footer-main
    .container
        nav.nav-footer
            ul
                li#index
                    a(href="index.html") 首頁
                li#school
                    a(href="school.html") 中小學
                li#colleges
                    a(href="colleges.html") 大專院校
                li#plans.ms-lg-auto
                    a(href="plans.html") 網路優惠方案
                li#faq
                    a(href="faq.html") 常見問題與客服
                li illustration is CC0 Public DomainLicense Made by
                    a(href="https://twitter.com/pablostanley" target="_blank" rel="noopener noreferrer") Pablo Stanley.

