header.header-main
    .container
        h1
            a(href="index.html")
                img(src="./dist/img/edu-logo.png" alt="edu 教育雲" height="40")
        span.material-icons-outlined.btn-nav-main menu
        nav.nav-main
            ul
                li#index.active
                    a(href="index.html") 首頁
                    ul
                        li
                            a(href="#about") 關於本站
                        li
                            a(href="#daily") 最新消息或公告
                li#map.active
                    a(href="map.html") 課程地圖
                    ul
                        li
                            a(href="#videos") 線上教學準備
                        li
                            a(href="#demo") 領域教學應用示範
                li#support.active
                    a(href="support.html") 工具與支援
                    ul
                        li
                            a(href="#sync") 同步
                        li
                            a(href="#async") 非同步
                        li
                            a(href="#tools") 數位資源
                li#plans.ms-lg-auto
                    a(href="plans.html") 網路優惠方案
                    ul.justify-content-end
                        li
                            a(href="#info") 申請注意事項
                        li
                            a(href="#eco") 經濟弱勢學生
                        li
                            a(href="#stop") 停課學生
                li#faq
                    a(href="faq.html") 常見問題
                li#contact
                    a(href="contact.html") 客服資訊
                li.ms-lg-3
                    a(href="#")
                        span.material-icons-outlined search
