header.header-main
    .container
        h1
            a(href="index.html")
                img(src="./dist/img/edu-logo.png" alt="edu 教育雲" height="40")
        span.material-icons-outlined.btn-nav-main menu
        nav.nav-main
            ul
                li#index.active
                    a(href="index.html") 首頁
                    ul
                        li
                            a.btn-scroll(href="#about") 關於本站
                        li
                            a.btn-scroll(href="#daily") 訊息公告
                li#map
                    a(href="map.html") 課程地圖
                    ul
                        li
                            a.btn-scroll(href="#basic") 基礎課程
                        li
                            a.btn-scroll(href="#advanced") 進階課程
                li#support
                    a(href="support.html") 工具與資源
                    ul
                        li
                            a.btn-scroll(href="#sync") 同步
                        li
                            a.btn-scroll(href="#async") 非同步
                        li
                            a.btn-scroll(href="#digit") 數位資源
                li#plans.ms-lg-auto
                    a(href="plans.html") 網路優惠方案
                    ul.justify-content-end
                        li
                            a.btn-scroll(href="#info") 申請注意事項
                        li
                            a.btn-scroll(href="#eco") 經濟弱勢學生
                        li
                            a.btn-scroll(href="#stop") 停課學生
                li#faq
                    a(href="faq.html") 常見問題
                li#contact
                    a(href="contact.html") 客服資訊
                li.ms-lg-3
                    a(href="#modal-search" data-bs-toggle="modal")
                        span.material-icons-outlined search
include ./modal-search.pug
