.modal.fade#modal-search(tabindex="-1" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title 搜尋網站
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                #google-search
                    script(async src="https://cse.google.com/cse.js?cx=7bea6cfb25b74e125")
                    .gcse-search

