li.col-12.box-videos#basic-sync-1-2
    h2.title-lg 認識數位資源網站、教材與素材準備等
    .box-videos-header
        button.btn.btn-secondary.btn-close-box-videos(type="button") 關閉影片區
    // h2.title-sm
        img(src="dist/img/bar/red.svg" height="20" alt="icon")
        em 英文科
        span.material-icons-outlined chevron_right
    ul.list-videos-demo.row
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://video.cloud.edu.tw/video/co_video_content.php?p=389767" target="_blank" rel="noopener noreferrer")
                    h3 認識數位資源網站、教材與素材準備
                    img(src="dist/img/map/demo.png" alt="認識數位資源網站、教材與素材準備")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://youtu.be/MC9w3PD9IMA" target="_blank" rel="noopener noreferrer")
                    h3 教育部線上教學教師增能系列課程-遠距教學零距離
                    img(src="dist/img/map/demo.png" alt="教育部線上教學教師增能系列課程-遠距教學零距離")
