li.col-12.box-videos#basic-sync-1-3
    h2.title-lg 視訊設備準備、師生帳號申請與管理、開設會議室及系統功能等
    .box-videos-header
        button.btn.btn-secondary.btn-close-box-videos(type="button") 關閉影片區
    // h2.title-sm
        img(src="dist/img/bar/red.svg" height="20" alt="icon")
        em 英文科
        span.material-icons-outlined chevron_right
    ul.list-videos-demo.row
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://video.cloud.edu.tw/video/co_video_content.php?p=389771" target="_blank" rel="noopener noreferrer")
                    h3 視訊設備準備、師生帳號申請與管理、開設會議室及系統功能
                    img(src="dist/img/map/demo.png" alt="視訊設備準備、師生帳號申請與管理、開設會議室及系統功能")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://youtu.be/A_JCklgt98g" target="_blank" rel="noopener noreferrer")
                    h3 Ｄ咖的線上教學
                    img(src="dist/img/map/demo.png" alt="Ｄ咖的線上教學")
