li.col-12.box-videos#basic-sync-1-4
    h2.title-lg 講授式教學、學習任務安排等
    .box-videos-header
        button.btn.btn-secondary.btn-close-box-videos(type="button") 關閉影片區
    // h2.title-sm
        img(src="dist/img/bar/red.svg" height="20" alt="icon")
        em 英文科
        span.material-icons-outlined chevron_right
    ul.list-videos-demo.row
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://video.cloud.edu.tw/video/co_video_content.php?p=389774" target="_blank" rel="noopener noreferrer")
                    h3 講授式教學、學習任務安排
                    img(src="dist/img/map/demo.png" alt="講授式教學、學習任務安排")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://youtu.be/mbNO3CsrlfQ" target="_blank" rel="noopener noreferrer")
                    h3 教育部線上教學教師增能系列課程-你也是色彩大師-因為很會PANTONE
                    img(src="dist/img/map/demo.png" alt="教育部線上教學教師增能系列課程-你也是色彩大師-因為很會PANTONE")
