li.col-12.box-videos#basic-sync-2-2
    h2.title-lg 同步工具課堂經營功能，(如：視訊、即時通訊、舉手、白板等互動功能)、雲端硬碟空間繳交作業等
    .box-videos-header
        button.btn.btn-secondary.btn-close-box-videos(type="button") 關閉影片區
    // h2.title-sm
        img(src="dist/img/bar/red.svg" height="20" alt="icon")
        em 英文科
        span.material-icons-outlined chevron_right
    ul.list-videos-demo.row
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://video.cloud.edu.tw/video/co_video_content.php?p=389782" target="_blank" rel="noopener noreferrer")
                    h3 同步工具課堂經營功能
                    img(src="dist/img/map/demo.png" alt="同步工具課堂經營功能")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://youtu.be/QycOxUYjNDQ" target="_blank" rel="noopener noreferrer")
                    h3 教育部線上教學教師增能系列課程-線上教學一起來備課1
                    img(src="dist/img/map/demo.png" alt="教育部線上教學教師增能系列課程-線上教學一起來備課1")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://youtu.be/OdmTRvovb3g" target="_blank" rel="noopener noreferrer")
                    h3 教育部線上教學教師增能系列課程-線上教學一起來備課2
                    img(src="dist/img/map/demo.png" alt="教育部線上教學教師增能系列課程-線上教學一起來備課2")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://youtu.be/kMGUe7I7gv8" target="_blank" rel="noopener noreferrer")
                    h3 教育部線上教學教師增能系列課程-防疫不停學-空中合奏、師生合體，美聲天籟e起來
                    img(src="dist/img/map/demo.png" alt="教育部線上教學教師增能系列課程-防疫不停學-空中合奏、師生合體，美聲天籟e起來")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://youtu.be/YrW5l8xJcp0" target="_blank" rel="noopener noreferrer")
                    h3 教育部線上教學教師增能系列課程-當因材網遇上google meet(6年級應用篇）
                    img(src="dist/img/map/demo.png" alt="教育部線上教學教師增能系列課程-當因材網遇上google meet(6年級應用篇）")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://youtu.be/wMjh-jb0WBY" target="_blank" rel="noopener noreferrer")
                    h3 教育部線上教學教師增能系列課程-一個高年級導師的遠距教學教室
                    img(src="dist/img/map/demo.png" alt="教育部線上教學教師增能系列課程-一個高年級導師的遠距教學教室")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://youtu.be/M3BqqwIb_tA" target="_blank" rel="noopener noreferrer")
                    h3 教育部線上教學教師增能系列課程-無縫接軌實體課，教學模式免轉換
                    img(src="dist/img/map/demo.png" alt="教育部線上教學教師增能系列課程-無縫接軌實體課，教學模式免轉換")
