li.col-12.box-videos#advanced-mix-1-1
    h2.title-lg 自主學習 X 混成教學：教師備課、學生自學、組內共學、組間共學
    .box-videos-header
        button.btn.btn-secondary.btn-close-box-videos(type="button") 關閉影片區
    h2.title-sm
        img(src="dist/img/bar/red.svg" height="20" alt="icon")
        em 英文科
        span.material-icons-outlined chevron_right
    ul.list-videos-demo.row
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="#" target="_blank" rel="noopener noreferrer")
                    h3 說明線上教學破冰設計的重要，精彩的M型設計、吸引學生的結尾設計，並提供簡單的範例。
                    img(src="dist/img/map/demo.png" alt="demo")
