.box-section#async-colleges
    h2.title-main
        span.material-icons-outlined auto_stories
        | 大專院校非同步教學模式
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 以下為非同步教學，可使用的資源：
            .article-wrap
                ul.list-table.list-table-3
                    li
                        ol
                            li 網站
                            li 使用說明 / 文字
                            li 使用說明 / 影片
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://www.ewant.org/" target="_blank" rel="noopener noreferrer") 育網開放教育平臺 (eWant)
                            li
                                h4 使用說明 / 文字
                                div
                                    a.text-link(href="https://www.ewant.org/mod/moocforum/faq_forum_list.php" target="_blank" rel="noopener noreferrer") 《常見問題》
                                    a.text-link(href="https://drive.google.com/file/d/1b8ejk-w5aQOJQYqXOKxzlQ04KCZrcDbr/view" target="_blank" rel="noopener noreferrer") 《使用手冊》
                            li
                                h4 使用說明 / 影片
                                div
                                    a.text-link(href="https://www.youtube.com/watch?v=FrbRNrpgX-Y&feature=youtu.be" target="_blank" rel="noopener noreferrer") 《註冊帳號》
                                    a.text-link(href="https://youtu.be/UGtwlscwBXI" target="_blank" rel="noopener noreferrer") 《如何選課》
                                    a.text-link(href="https://youtu.be/mwev89LIrko" target="_blank" rel="noopener noreferrer") 《如何學習》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.openedu.tw/" target="_blank" rel="noopener noreferrer") 中華開放教育平臺 (OpenEdu)
                            li
                                h4 使用說明 / 文字
                                div
                                    a.text-link(href="https://hackmd.io/@OpenEdu/H1VsqTIRU/%2FygH_XnziTuqzT_riKRhwFQ" target="_blank" rel="noopener noreferrer") 《教師操作手冊》
                                    a.text-link(href="https://hackmd.io/@OpenEdu/Sy_pFaqSP/%2FrUpqwFCNTXOqyv1I_-W6OA" target="_blank" rel="noopener noreferrer") 《學習者操作手冊》
                            li
                                h4 使用說明 / 影片
                                div
                                    a.text-link(href="https://www.youtube.com/watch?v=jchODWwu2h0" target="_blank" rel="noopener noreferrer") 《註冊帳號》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.sharecourse.net/" target="_blank" rel="noopener noreferrer") 學聯網 (ShareCourse)
                            li
                                h4 使用說明 / 文字
                                div
                                    a.text-link(href="https://www.sharecourse.net/sharecourse/general/home/FAQ/1" target="_blank" rel="noopener noreferrer") 《常見問題》
                                    a.text-link(href="https://www.surveycake.com/s/DkKd7" target="_blank" rel="noopener noreferrer") 《開課教學導引》
                            li
                                h4 使用說明 / 影片
                                div
                                    a.text-link(href="https://youtu.be/vdUjOIQ42BY" target="_blank" rel="noopener noreferrer") 《註冊帳號》
                                    a.text-link(href="https://youtu.be/a4kqkTYyFl4" target="_blank" rel="noopener noreferrer") 《報名課程》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://taiwanlife.org/" target="_blank" rel="noopener noreferrer") 臺灣全民學習平臺 (TaiwanLIFE)
                            li
                                h4 使用說明 / 文字
                                div
                                    a.text-link(href="https://taiwanlife.org/mod/moocforum/faq_forum_list.php" target="_blank" rel="noopener noreferrer") 《常見問題》
                            li
                                h4 使用說明 / 影片
                                div
                                    a.text-link(href="https://www.youtube.com/watch?v=tiYUA3EJCPM" target="_blank" rel="noopener noreferrer") 《註冊及選課》

                .box-more.mt-3
                    span.material-icons-outlined.me-1 bookmark
                    .init
                        | 非同步教學定義：當教學者與學習者之間存在時間或空間的分隔，稱為非同步線上學習。
                        a.btn-more(href="#") more
                    .more
                        p 非同步教學定義：當教學者與學習者之間存在時間或空間的分隔，稱為非同步線上學習。
                        p 非同步線上學習環境通常利用媒體科技來傳遞課程內容，並提供教學者與學習者、教材與學習者、學習者與學習者之間的雙向互動。
                        p 常見的非同步線上學習應用如教學者把教學內容或課堂筆記以圖文或影像形式存放在課程網站中，提供學習者可隨時收看或閱讀；或是學習者利用電腦工具繳交作業；或透過線上討論看板發表意見、進行互動等師生不同時在線上的學習形式，即稱為非同步線上學習。
                        p
                        small.text-gray (來源出處：
                            a.text-link(href="https://terms.naer.edu.tw/detail/1678802/" target="_blank" rel="noopener noreferrer") 國家教育研究院
                            | )
        .bar.bar-pink.mb-5
