.box-section#info
    h2.title-main
        span.material-icons-outlined info
        | 實施注意事項
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 大專院校 - 線上教學實施注意事項
            .article-wrap
                .box-article
                    h3 演練注意事項
                    div
                        p 依據109年3月31日教育部發布之大專校院因應嚴重特殊傳染性肺炎疫情停課復課及授課因應防疫調整演練注意事項，學校因應指揮中心指示、確診病例之停課復課，以及授課方式因應防疫之調整及演練，應以防疫為優先，掌握師生動向以保護社區，避免造成防疫破口為最重要原則。相關防疫作為有三種型態：
                        ol
                            li 學校授課方式因應防疫之調整及演練：調整授課方式(由學校督導辦理，無須報本部)或進行授課防疫演練(超過3天者先行通報本部)。
                            li 學校因應確診病例之停課復課：授課方式調整，由學校督導辦理，無須報本部。
                            li 學校因應指揮中心指示之停課復課：學校應依疫調結果及指揮中心指示，啟動停課，並同步通報本部。

                .box-article
                    h3 實施準備之注意事項
                    div
                        ol
                            li 前提：配合防疫需求掌握學生到課，並提供良好授課學習品質。
                            li 防疫演練優先由小規模漸進為之：
                                ol
                                    li 分批次、間隔或輪流進行(無須報教育部)；
                                    li 全校或全院或全系(所)之授課防疫演練者，至多1週為原則；
                                    li 超過3天者，應將授課防疫演練規劃先行通報教育部。
                            li 學校應掌握學生動向，並安排適足之教職員工到校，維持校園防疫狀態及相關教學協助事宜。
                            li 採用遠距教學前，學校應預先規劃培訓課程、諮詢管道，並宜提供支援性數位助理(TA)，以協助教師備課及掌握學生到課情形。
                            li 有關聽障（損）學生之學習需求，請參考「大專校院採取非現場教學模式保障聽覺障礙學生學習權益具體措施」及「聽損學生接受線上教學參考指引師生版」，調整線上教學模式或配合融入因應措施，並協助聽障（損）學生適應非傳統現場教學，以保障學生之學習權益。
.bar.bar-pink.mb-5
