.box-section#mix
    h2.title-main
        span.material-icons-outlined import_contacts
        | 混成教學模式
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 以下為混成教學，可使用的資源：
            .article-wrap
                ul.list-table.list-table-3
                    li
                        ol
                            li 軟體 / 工具
                            li 使用說明
                            li 使用說明 / 影片
                    li
                        ol
                            li
                                h4 軟體 / 工具
                                div Microsoft Teams
                            li
                                h4 使用說明
                                div
                                    a.text-link(href="https://learning.cloud.edu.tw/onlinelearning_file/08.%E5%85%A8%E7%B7%9A%E4%B8%8A%E9%9D%9E%E5%90%8C%E6%AD%A5%E8%88%87%E5%90%8C%E6%AD%A5%E6%B7%B7%E6%88%90%E6%95%99%E5%AD%B8%E7%AD%96%E7%95%A5_%E9%81%8B%E7%94%A8Microsoft_Teams%E7%A4%BA%E7%AF%8420200415.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 全線上非同步與同步混成教學策略_運用Microsoft Teams示範
                            li
                                h4 使用說明 / 影片
                                div
                                    a.text-link(href="https://video.cloud.edu.tw/video/co_video_content.php?p=369283" target="_blank" rel="noopener noreferrer") 《混成教學-運用Microsoft Teams示範》
                    li
                        ol
                            li
                                h4 軟體 / 工具
                                div Google Classroom
                            li
                                h4 使用說明
                                div
                                    a.text-link(href="https://learning.cloud.edu.tw/onlinelearning_file/09.%E5%85%A8%E7%B7%9A%E4%B8%8A%E9%9D%9E%E5%90%8C%E6%AD%A5%E8%88%87%E5%90%8C%E6%AD%A5%E6%B7%B7%E6%88%90%E6%95%99%E5%AD%B8%E7%AD%96%E7%95%A5_%E9%81%8B%E7%94%A8Google%20Classroom%E7%A4%BA%E7%AF%8420200417.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 全線上非同步與同步混成教學策略_運用Google Classroom示範
                            li
                                h4 使用說明 / 影片
                                div
                                    a.text-link(href="https://video.cloud.edu.tw/video/co_video_content.php?p=369287" target="_blank" rel="noopener noreferrer") 《混成教學-運用Google classroom示範》
                    li
                        ol
                            li
                                h4 軟體 / 工具
                                div 其他
                            li
                                h4 使用說明
                                div 教師可自行選定【
                                    a.text-link(href="https://learning.nchu.cloud.edu.tw/onlinelearning/#sync-tool2" target="_blank" rel="noopener noreferrer") 同步教學工具
                                    | 】及 【
                                    a.text-link(href="https://learning.nchu.cloud.edu.tw/onlinelearning/#online-tool2" target="_blank" rel="noopener noreferrer") 平臺與資源
                                    |  】搭配實施。
                            li
