.modal.fade#modal-async(tabindex="-1" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                h5.modal-title 非同步教學定義
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                p 當教學者與學習者之間存在時間或空間的分隔，稱為非同步線上學習。
                p 非同步線上學習環境通常利用媒體科技來傳遞課程內容，並提供教學者與學習者、教材與學習者、學習者與學習者之間的雙向互動。
                p 常見的非同步線上學習應用如教學者把教學內容或課堂筆記以圖文或影像形式存放在課程網站中，提供學習者可隨時收看或閱讀；或是學習者利用電腦工具繳交作業；或透過線上討論看板發表意見、進行互動等師生不同時在線上的學習形式，即稱為非同步線上學習。
                p
                    small.text-gray (來源出處：國家教育研究院)
