.box-section#sync
    h2.title-main
        span.material-icons-outlined menu_book
        | 同步教學模式
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 以下為同步教學，可使用的資源：
            .article-wrap
                ul.list-table.list-table-3
                    li
                        ol
                            li 軟體 / 工具
                            li 使用說明
                            li 使用說明 / 影片
                    li
                        ol
                            li
                                h4 軟體 / 工具
                                div Google Meet
                            li
                                h4 使用說明
                                div
                                    a.text-link(href="https://learning.cloud.edu.tw/onlinelearning_file/06.%E5%90%8C%E6%AD%A5%E7%B7%9A%E4%B8%8A%E8%AA%B2%E7%A8%8B%E6%95%99%E5%AD%B8%E7%AD%96%E7%95%A5_%E9%81%8B%E7%94%A8Google%20Meet%E7%A4%BA%E7%AF%8420200422.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 同步線上課程教學策略_運用Google Meet示範
                            li
                                h4 使用說明 / 影片
                                div
                                    a.text-link(href="https://video.cloud.edu.tw/video/co_video_content.php?p=369280" target="_blank" rel="noopener noreferrer") 《同步教學-以Meet視訊會議系統示範》
                    li
                        ol
                            li
                                h4 軟體 / 工具
                                div YouTube
                            li
                                h4 使用說明
                                div
                                    a.text-link(href="https://learning.cloud.edu.tw/onlinelearning_file/04.%E9%81%8B%E7%94%A8YouTube%E7%9B%B4%E6%92%AD%E9%80%B2%E8%A1%8C%E5%90%8C%E6%AD%A5%E7%B7%9A%E4%B8%8A%E8%AA%B2%E7%A8%8B20200415.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 運用YouTube直播進行同步線上課程
                            li
                    li
                        ol
                            li
                                h4 軟體 / 工具
                                div 其他
                            li
                                h4 使用說明
                                div 教師可自行選定適合使用的軟體或工具實施同步教學
                            li

                .box-more.mt-3
                    span.material-icons-outlined.me-1 bookmark
                    .init
                        | 同步教學模式，係指在學習環境中，教學者與學習者雖然分隔兩地，但仍能即時地進行教與學之互動。
                        a.btn-more(href="#") more
                    .more
                        p 同步教學模式，係指在學習環境中，教學者與學習者雖然分隔兩地，但仍能即時地進行教與學之互動。為了達成教學過程中必要的互動，學習者通常使用線上教室應用程式，來與其他學習者或教學者進行類似面對面溝通。
                        p
                            small.text-gray (來源出處：國家教育研究院)
