.box-section#tools-colleges
    h2.title-main
        span.material-icons-outlined build_circle
        | 大專院校數位資源
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 同步教學工具表格
            .article-wrap
                ul.list-table.list-table-5.mb-4
                    li
                        ol
                            li 軟體 / 平台
                            li 可錄影
                            li 互動方式
                            li 應用方式、連線上網
                            li 使用方式
                    li
                        ol
                            li
                                h4 軟體 / 平台
                                div
                                    a.text-link(href="https://o365.k12cc.tw/" target="_blank" rel="noopener noreferrer") Microsoft Teams(A1)
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined check
                            li
                                h4 互動方式
                                div
                                    ol
                                        li 雙向影音、課堂討論、線上共檔、筆記分享、學生發問和講義檔案管理
                                        li 修習課程者有權限可重複觀看
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 使用教育部雲端帳號登入
                                        li 最大連線數250人
                                        li 永久免費提供給教育單位使用
                            li
                                h4 使用方式
                                div
                                    ul.list-unstyled
                                        li
                                            a.text-link(href="https://www.microsoft.com/taiwan/education/teams-learning-remotely.aspx" target="_blank" rel="noopener noreferrer") 《使用說明》
                    li
                        ol
                            li
                                h4 軟體 / 平台
                                div Google Meet
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined check
                            li
                                h4 互動方式
                                div
                                    ol
                                        li 雙向影音
                                        li 聊天室
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 使用G Suite教育版，最大連線數100人
                                        li 錄製會議內容可維持兩週的時間。
                            li
                                h4 使用方式
                                div
                                    ul.list-unstyled
                                        li
                                            a.text-link(href="https://gsuite.google.com.tw/intl/zh-TW/products/meet/" target="_blank" rel="noopener noreferrer") 《網站》
                                            a.text-link(href="https://learning.cloud.edu.tw/onlinelearning_file/Google%20Meet%20%E6%96%B0%E5%8A%9F%E8%83%BD%E4%BB%8B%E7%B4%B9.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《功能介紹》
                    li
                        ol
                            li
                                h4 軟體 / 平台
                                div Cisco WebEX
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined check
                            li
                                h4 互動方式
                                div
                                    ol
                                        li 雙向影音
                                        li 聊天室
                                        li 學生發問
                                        li 講義檔案分享
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 電腦(筆記型電腦)免安裝軟體，手機(平板)需安裝APP。首次連線需下載軟體。
                                        li 防疫期間(110.8.10止)提供教師免費申請。 (申請網址：https://pse.is/PW9KL )
                                        li 同時段只可開設1個會議室，會議時間無上限。
                                        li 最大連線數200人。
                            li
                                h4 使用方式
                                div
                                    ul.list-unstyled
                                        li
                                            a.text-link(href="https://learning.cloud.edu.tw/onlinelearning_file/webex%E6%93%8D%E4%BD%9C%E8%AA%AA%E6%98%8E.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《操作說明》
                                        li
                                            a.text-link(href="https://www.youtube.com/watch?v=sEs7Kmlq4L4&feature=youtu.be" target="_blank" rel="noopener noreferrer") 《操作影片》
                                        li
                                            a.text-link(href="https://youtu.be/7HdyPJ2ebU4" target="_blank" rel="noopener noreferrer") 《教學影片_教師》
                                        li
                                            a.text-link(href="https://www.youtube.com/watch?v=_kDl43pNmNg" target="_blank" rel="noopener noreferrer") 《教學影片_學生》
                                        li
                                            a.text-link(href="mailto:service@lancomgroup.com" target="_blank" rel="noopener noreferrer") 客服信箱：service<br>@lancomgroup.com
                                        li
                                            a.text-link(href="tel:0255779699" target="_blank" rel="noopener noreferrer") 客服電話：(02)55779699
                    li
                        ol
                            li
                                h4 軟體 / 平台
                                div YouTube
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined check
                            li
                                h4 互動方式
                                div 聊天室
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 需註冊
                                        li 連線數，無限制。
                            li
                    li
                        ol
                            li
                                h4 軟體 / 平台
                                div FB私人社群直播
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined check
                            li
                                h4 互動方式
                                div 聊天室
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 需註冊
                                        li 連線數，無限制。
                            li
                    li
                        ol
                            li
                                h4 軟體 / 平台
                                div LINE (Live功能)
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined close
                            li
                                h4 互動方式
                                div 聊天室
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 需註冊
                                        li 連線數，無限制。
                            li
                    li
                        ol
                            li
                                h4 軟體 / 平台
                                div Google Classroom
                            li
                                h4 可錄影
                                div -
                            li
                                h4 互動方式
                                div 聊天室
                            li
                                h4 應用方式、連線上網
                                div
                                    p 非視訊會議軟體，提供下列功能：
                                    ol
                                        li 課程公告欄
                                        li 討論區
                                        li 聊天室
                                        li 測驗工具 (類似google表單)
                                        li 日曆
                                        li 雲端硬碟
                            li
                    li
                        ol
                            li
                                h4 軟體 / 平台
                                div Jitsi Meet
                            li
                                h4 可錄影
                                div
                                    span.material-icons-outlined close
                            li
                                h4 互動方式
                                div
                                    ol
                                        li 雙向影音
                                        li 文字聊天室
                                        li 舉手發問
                            li
                                h4 應用方式、連線上網
                                div
                                    ol
                                        li 免帳號
                                        li 最大連線數75人
                            li
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 平臺與資源 - 開放教育資源
            .article-wrap
                ul.list-table.list-table-2
                    li
                        ol
                            li 網站
                            li 內容
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://oers.taiwanmooc.org/" target="_blank" rel="noopener noreferrer") 開放教育資源平臺(OER)
                            li
                                h4 內容
                                div 彙集創用CC、GNU通用公共授權等無償授權分享的電子教科書、媒體素材等開放式教育資源，提供多種類型主題之應用整合查詢平臺。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://sites.google.com/view/univ-elearning/%E9%A6%96%E9%A0%81" target="_blank" rel="noopener noreferrer") 大專院校遠距教學課程與線上教學指引
                            li
                                h4 內容
                                div 本指引整合各種資源並提供參考方案，歡迎有需要的大專院校運用，實現數位學習無疆界願景目標。
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 平臺與資源 - 開放式課程 &amp; 磨課師
            .article-wrap
                ul.list-table.list-table-2
                    li
                        ol
                            li 網站
                            li 內容
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://taiwanmooc.org/" target="_blank" rel="noopener noreferrer") 臺灣磨課師課程網 (TaiwanMOOC)
                            li
                                h4 內容
                                div 提供大眾查詢臺灣多個磨課師學習平臺的課程資訊，提供超過 1,000筆資料，含教育部補助的510門課程資訊。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://www.ewant.org/" target="_blank" rel="noopener noreferrer") 育網開放教育平臺 (ewant)
                            li
                                h4 內容
                                div 與國內外97所大專院校和機構合作開課，供學員線上免費學習，修課通過合格後可申請修課通過證明。另外，針對同意採認學分之大學在校生設置 《
                                a.text-link(href="https://www.ewant.org/local/enterprise/generalcourse.php?id=2" target="_blank" rel="noopener noreferrer") 跨校通識
                                | 》 與 《
                                a.text-link(href="https://www.ewant.org/local/enterprise/collegepage.php?id=5" target="_blank" rel="noopener noreferrer") SOS暑期線上學院
                                | 》 專區，修課合格後可獲得學分。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.openedu.tw/" target="_blank" rel="noopener noreferrer") 中華開放教育平臺 (OpenEdu)
                            li
                                h4 內容
                                div 除提供教育部補助發展之特定科技領域專業課程，亦針對特定對象(如大學程式教育、準大學生、高中生)開設專區，提供特定對象自學。至少提供422門課。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.sharecourse.net/" target="_blank" rel="noopener noreferrer") 學聯網 (ShareCourse)
                            li
                                h4 內容
                                div 以協助青年人強化職場技能及深入探討數位能力培養、AI 與物聯網等課程為主，涵蓋從各領域初階入門到進階進行，合計超過有500門課程。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://taiwanlife.org/" target="_blank" rel="noopener noreferrer") 臺灣全民學習平臺 (TaiwanLIFE)
                            li
                                h4 內容
                                div 提供資訊、外語、華語教學等多個領域的磨課師課程，供學員隨時隨地線上學習，除免費課程，另設有非正規教育付費學分班課程，學員修習合格後可取得學分證明書，可依各大專校院規定折抵學分。另有部份課程，研習後可取得公務人員終身學習時數。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="http://www.tocec.org.tw/" target="_blank" rel="noopener noreferrer") 臺灣開放式課程暨教育聯盟 (TOCEC)課程平臺
                            li
                                h4 內容
                                div 提供約1,400門隨堂側錄後簡單後製的課堂教學內容，影片講義可下載後自學。
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://univ.deltamoocx.net/" target="_blank" rel="noopener noreferrer") DeltaMOOCx
                            li
                                h4 內容
                                div DeltaMOOCx的大學課程以開設自動化學程為主，強調強化學生在工業自動化領域之專業實力。


