extends ./includes/base.pug
block content
    .main-main.py-4
        .container
            include ./colleges/info.pug
            include ./colleges/sync.pug
            include ./colleges/async.pug
            include ./colleges/mix.pug
            include ./colleges/tools.pug
