extends ./includes/base.pug
block content
    .main-main.py-4
        .container
            .box-section#info
                h2.title-main
                    span.material-icons-outlined support_agent
                    | 客服聯絡方式
                .box-content
                    .box-wrap
                        .box-toggle
                            span.material-icons-outlined.text-main.me-2 expand_circle_down
                            em 客服聯絡方式
                        .article-wrap
                            ul.list-cards
                                li.box-article
                                    h3 Microsoft Teams
                                    div
                                        ul
                                            li 北臺灣縣市：宏碁資訊服務：
                                                a.text-link(href="tel:0266156101") 02-6615-6101
                                            li 中臺灣縣市：台灣碩軟：
                                                a.text-link(href="tel:0287299702") 02-8729-9702
                                            li 南臺灣縣市：緯謙科技：
                                                a.text-link(href="tel:0987572405") 0987-572-405
                                            li 東臺灣與外島縣市：智域國際：
                                                a.text-link(href="tel:0227277919") 02-2727-7919
                                            li 客服信箱：
                                                a.text-link(href="mailto:taiwanmsta@outlook.com") taiwanmsta@outlook.com
                                li.box-article
                                    h3 教育部教育雲
                                    div
                                        ul
                                            li 客服電話：
                                                a.text-link(href="tel:0975138653") 0975-138-653
                                            li 問題回報：問題回報連結
                                li.box-article
                                    h3 臺北市酷課雲
                                    div
                                        ul
                                            li 客服電話：
                                                a.text-link(href="tel:0227535316") (02)2753-5316轉250
                                            li 客服信箱：
                                                a.text-link(href="mailto:coocservice@tp.edu.tw")  coocservice@tp.edu.tw
                                li.box-article
                                    h3 高雄市E-game
                                    div
                                        ul
                                            li 客服電話：
                                                a.text-link(href="tel:077136536") (07)713-6536轉37、61、18、11
                                            li 客服信箱：
                                                a.text-link(href="mailto:kiec-edu@mail.kh.edu.tw") kiec-edu@mail.kh.edu.tw
                                li.box-article
                                    h3 高雄市達學堂
                                    div
                                        ul
                                            li 客服電話：
                                                a.text-link(href="tel:923062701") 923062701 (網路電話)
                                            li 客服信箱：
                                                a.text-link(href="mailto:drlive2018@gmail.com") drlive2018@gmail.com
                                li.box-article
                                    h3 臺南市飛番雲
                                    div
                                        ul
                                            li 客服電話：
                                                a.text-link(href="tel:06213-0669") (06)213-0669
                                            li 客服信箱：
                                                a.text-link(href="mailto:service@tn.edu.tw") service@tn.edu.tw
                                li.box-article
                                    h3 PagamO線上學習平臺
                                    div
                                        ul
                                            li 客服電話：
                                                a.text-link(href="tel:0223582553") (02)2358-2553
                                            li 客服信箱：
                                                a.text-link(href="mailto:info@pagamo.org") info@pagamo.org
                                            li 「停課不停學-特別任務」客服專線：
                                                a.text-link(href="tel:0223582553") (02)2358-2553
                                li.box-article
                                    h3 均一教育平台
                                    div
                                        ul
                                            li 客服信箱：
                                                a.text-link(href="mailto:supportteam@junyiacademy.org")  supportteam@junyiacademy.org
                                li.box-article
                                    h3 LearnMode學習吧
                                    div
                                        ul
                                            li 客服信箱：
                                                a.text-link(href="mailto:service@dopod.com")  service@dopod.com
                                li.box-article
                                    h3 南一書局
                                    div
                                        ul
                                            li 數位產品 客服專線：
                                                a.text-link(href="tel:0226645500") (02)2664-5500 分機 520
                                            li OneClass真人Live家教 專線：
                                                a.text-link(href="tel:0282263699") (02)8226-3699
                                            li 南一客服小幫手官方Line@：
                                                a.text-link(href="https://lin.ee/FdL4cmD" target="_blank" rel="noopener noreferrer") https://lin.ee/FdL4cmD
                                            li 南一客服信箱：
                                                a.text-link(href="mailto:service@oneclass.com.tw") service@oneclass.com.tw
                                li.box-article
                                    h3 教育部因材網
                                    div
                                        ul
                                            li 客服電話：
                                                br
                                                span 帳號申請：
                                                a.text-link(href="tel:0422183521") (04)2218-3521
                                                br
                                                span 系統操作：
                                                a.text-link(href="tel:0422183522") (04)2218-3522
                                                br
                                                span 系統操作：
                                                a.text-link(href="tel:0422183521") (04)2218-3521
                                            li 客服信箱：
                                                a.text-link(href="mailto:ai.ntcu.edu@mail.ntcu.edu.tw") ai.ntcu.edu@mail.ntcu.edu.tw
                                        p 各領域教學應用諮詢：
                                        ul
                                            li 數學領域：
                                                br
                                                a.text-link(href="tel:0422181033") 04-2218-1033
                                                br
                                                a.text-link(href="mailto:adap.math@gmail.com") adap.math@gmail.com
                                            li 國語文領域：
                                                br
                                                a.text-link(href="tel:0422183103") 04-2218-3103
                                                br
                                                a.text-link(href="mailto:lan@gm.ntcu.edu.tw") lan@gm.ntcu.edu.tw
                                            li 英語文領域：
                                                br
                                                a.text-link(href="tel:0422183462") 04-2218-3462
                                                br
                                                a.text-link(href="mailto:ai.lynnzero@mail.ntcu.edu.tw") lynnzero@mail.ntcu.edu.tw
                                            li 自然科學領域：
                                                br
                                                a.text-link(href="tel:034227151") 03-4227151#35454
                                                br
                                                a.text-link(href="mailto:ncu35453@g.ncu.edu.tw") ncu35453@g.ncu.edu.tw
                                li#bg-contact
                                    img.w-100(src="./dist/img/bg-contact.png" alt="edu")
