extends ./includes/base.pug
block content
    .main-main.py-4
        .container
            include ./school/info.pug
            include ./school/sync.pug
            include ./school/async.pug
            include ./school/mix.pug
            include ./school/tools.pug
