extends ./includes/base.pug
block content
    .main-main.py-4#support
        .container
            include ./support/sync.pug
            include ./support/async.pug
            include ./support/digit.pug
