extends ./includes/base.pug
block content
    .main-main.py-4#support
        .container
            include ./school/sync.pug
            include ./colleges/sync.pug
            include ./school/async.pug
            include ./colleges/async.pug
            include ./school/tools.pug
            include ./colleges/tools.pug
