.box-section#advanced
    h2.title-main
        span.material-icons-outlined play_circle_outline
        | 進階課程
    .box-content
        include ./advanced/sync.pug
        include ./advanced/async.pug
        include ./advanced/mix.pug

