.box-section#demo
    h2.title-main
        span.material-icons-outlined play_circle_outline
        | 領域教學應用示範
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 因才網
            .article-wrap
                ul.list-cards.list-cards-sm
                    li.box-article
                        a(href="https://www.youtube.com/watch?v=lMLLCtrOIbI" target="_blank" rel="noopener noreferrer")
                            h3 國語文備課 - 國小篇
                            div 因才網應用篇<br><br>南投縣史港國小 - <br>施君潔老師
                    li.box-article
                        a(href="https://www.youtube.com/watch?v=SYpPucP_aqc" target="_blank" rel="noopener noreferrer")
                            h3 國語文備課 - 國中篇
                            div 因才網應用篇<br><br>彰化縣草湖國中 - <br>郭育良教師
                    li.box-article
                        a(href="https://www.youtube.com/watch?v=SdAdD0fScNs" target="_blank" rel="noopener noreferrer")
                            h3 國語文備課 - 高年級議論文篇
                            div 因才網 + Classroom
                    li.box-article
                        a(href="https://www.youtube.com/watch?v=DLXFjAKT6oI" target="_blank" rel="noopener noreferrer")
                            h3 自然學科學備課 - 國小篇
                            div 因才網應用篇<br><br>台中市竹林國小 - <br>王慧菁主任
                    li.box-article
                        a(href="https://www.youtube.com/watch?v=IiR_Qqwg3Hk" target="_blank" rel="noopener noreferrer")
                            h3 英語文備課 - 高中篇
                            div 因才網應用篇<br><br>高雄師左營高中 - <br>陳筱婷老師
                    li.box-article
                        a(href="https://www.youtube.com/watch?v=bgfrjOqpP0M" target="_blank" rel="noopener noreferrer")
                            h3 英語文備課 - 國中篇
                            div 因才網應用篇<br><br>台北市北新國中 - <br>謝易達教師
                    li.box-article
                        a(href="https://www.youtube.com/watch?v=b6TEtKmp_nk" target="_blank" rel="noopener noreferrer")
                            h3 英語文備課 - 國小篇
                            div 因才網應用篇<br><br>台北市南港國小 - <br>林玉姬教師

