li.col-12.box-videos#basic-async-1-3
    h2.title-lg 知識結構學習及任務指派功能
    .box-videos-header
        button.btn.btn-secondary.btn-close-box-videos(type="button") 關閉影片區
    // h2.title-sm
        img(src="dist/img/bar/red.svg" height="20" alt="icon")
        em 英文科
        span.material-icons-outlined chevron_right
    ul.list-videos-demo.row
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://reurl.cc/6aj6lr" target="_blank" rel="noopener noreferrer")
                    h3 知識結構學習及任務指派功能
                    img(src="dist/img/map/demo.png" alt="知識結構學習及任務指派功能")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://reurl.cc/YOVZ0o" target="_blank" rel="noopener noreferrer")
                    h3 手把手學會利用因材網發佈自學任務(因材網教學直播1)
                    img(src="dist/img/map/demo.png" alt="手把手學會利用因材網發佈自學任務(因材網教學直播1)")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://youtu.be/uS91tQHrWtE" target="_blank" rel="noopener noreferrer")
                    h3 教育部線上教學教師增能系列課程-怎麼確定學生學習狀況？因材網診斷能幫忙喔！
                    img(src="dist/img/map/demo.png" alt="教育部線上教學教師增能系列課程-怎麼確定學生學習狀況？因材網診斷能幫忙喔！")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://youtu.be/AZ4HeKNrjXs" target="_blank" rel="noopener noreferrer")
                    h3 教育部線上教學教師增能系列課程-因材網暑假作業規劃
                    img(src="dist/img/map/demo.png" alt="教育部線上教學教師增能系列課程-因材網暑假作業規劃")
