li.col-12.box-videos#basic-async-2-1
    h2.title-lg 單元診斷
    .box-videos-header
        button.btn.btn-secondary.btn-close-box-videos(type="button") 關閉影片區
    // h2.title-sm
        img(src="dist/img/bar/red.svg" height="20" alt="icon")
        em 英文科
        span.material-icons-outlined chevron_right
    ul.list-videos-demo.row
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://reurl.cc/R0LZ1e" target="_blank" rel="noopener noreferrer")
                    h3 單元診斷
                    img(src="dist/img/map/demo.png" alt="單元診斷")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://reurl.cc/norWr2" target="_blank" rel="noopener noreferrer")
                    h3 單元學完了，想知道學生單元學得怎樣嗎? 手把手學會利用因材網發佈單元診斷(因材網手把手教學直播2)
                    img(src="dist/img/map/demo.png" alt="單元學完了，想知道學生單元學得怎樣嗎? 手把手學會利用因材網發佈單元診斷(因材網手把手教學直播2)")
