li.col-12.box-videos#basic-async-2-2
    h2.title-lg 班級經營技巧
    .box-videos-header
        button.btn.btn-secondary.btn-close-box-videos(type="button") 關閉影片區
    // h2.title-sm
        img(src="dist/img/bar/red.svg" height="20" alt="icon")
        em 英文科
        span.material-icons-outlined chevron_right
    ul.list-videos-demo.row
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://reurl.cc/YO4AlD" target="_blank" rel="noopener noreferrer")
                    h3 班級經營技巧
                    img(src="dist/img/map/demo.png" alt="班級經營技巧")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://reurl.cc/gWeqvb" target="_blank" rel="noopener noreferrer")
                    h3 獎勵制度操作
                    img(src="dist/img/map/demo.png" alt="獎勵制度操作")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://reurl.cc/O05y17" target="_blank" rel="noopener noreferrer")
                    h3 筆記提問操作
                    img(src="dist/img/map/demo.png" alt="筆記提問操作")
        li.col-6.col-md-4.col-lg-3
            .box-article
                a(href="https://reurl.cc/W3A2dD" target="_blank" rel="noopener noreferrer")
                    h3 小組管理操作
                    img(src="dist/img/map/demo.png" alt="小組管理操作")
