.footer-main
	background-color: #454545
	padding: 2rem 0
	p
		margin-top: 1rem
		color: #ccc
		font-size: .8em
		a
			color: #ccc
.nav-footer
	ul
		display: flex
		list-style: none
		margin: 0
		padding: 0
		justify-content: center
		+xs
			flex-wrap: wrap
			display: block
			text-align: center
		li
			color: #fff
			+sm
				&:not(:first-child)
					margin: 0 0 0 3rem
			a
				color: #fff
				text-decoration: none
				transition: .2s
				display: block
				margin-bottom: .75rem
				&:hover
					color: #ccc
.address
	text-align: center
	color: #fff
	margin-top: 2rem
	font-size: .8em
	address
		margin: 0
