.list-desc
	> li
		margin-bottom: 1rem
		ol
			margin: 1rem 0 0 2rem
			list-style: lower-latin
		li
			margin-bottom: .5rem

.list-table
	list-style: none
	padding: 0
	margin: 0
	border-bottom: 1px solid $border
	h4
		font-size: 1em
		font-weight: bold
		color: #000
		margin: 0
	> li
		margin-bottom: 1rem
		background-color: #fff
		padding: 1rem
		border: 1px solid $border
		&:first-child
			display: none
		&:nth-child(2n-1)
			+lg
				background-color: #f7f7f7
		> ol
			list-style: none
			margin: 0
			padding: 0
			> li
				&:not(:last-child)
					margin-bottom: 1rem
	+lg
		h4
			display: none
		> li
			margin: 0
			padding: 0
			border: 0
			&:first-child
				display: block
				background-color: #f2f2f2
			> ol
				display: flex
				border-top: 1px solid $border
				border-left: 1px solid $border
				> li
					border-right: 1px solid $border
					padding: 1rem
					margin: 0 !important


+lg
	.list-table-2
		> li > ol
			> li:first-child
				width: 30%
			> li:last-child
				width: 70%
	.list-table-3
		> li > ol
			> li
				width: 60%
			> li:first-child
				width: 20%
			> li:last-child
				width: 20%
	.list-table-4
		> li > ol
			> li:nth-child(1)
				width: 10%
			> li:nth-child(2)
				width: 20%
			> li:nth-child(3)
				width: 40%
			> li:nth-child(4)
				width: 30%
	.list-table-4-equal
		> li > ol
			> li
				width: 25%
	.list-table-5
		> li > ol
			> li
				width: 20%
			> li:nth-child(2)
				width: 8%
				text-align: center
			> li:nth-child(4)
				width: 32%

.list-cards
	display: flex
	flex-wrap: wrap
	list-style: none
	margin: 0
	padding: 0
	&.list-cards-sm
		> li
			+md
				width: 200px
				> div
					font-size: .8em
	> li
		width: 100%
		margin: 0 0 1rem
		overflow: hidden
		+md
			width: 380px
			margin: 0 1rem 1rem 0
		a
			text-decoration: none
		> div
			height: 100%
		ul, ol
			list-style: none
			padding: 0
			margin: 0
			li
				margin-bottom: .5rem

.list-news
	display: flex
	flex-wrap: wrap
	list-style: none
	margin: 0 0 1rem
	padding: 0
	&.show-all > li
		display: block !important
	> li
		width: 280px
		margin: 0 1rem 1rem 0
		background-color: #fff
		border: 1px solid $border
		border-radius: 5px
		padding: 1.5rem
		transition: .2s
		+xs
			width: 100%
			margin-right: 0
		&:hover
			box-shadow: 0 4px 8px rgba(0, 0, 0, .2)
		&:nth-child(n+7)
			display: none
		em
			margin-bottom: 1rem
			font-size: .8em
			font-style: normal
			display: block
			color: $gray-light
		p
			color: #6c3737
			line-height: 1.5
			height: 7.5em
			overflow: hidden
		a
			font-size: .8em
			display: block
			margin-top: 1rem
			color: $gray-light
			text-align: right
			cursor: pointer
			transition: .2s
			&:hover
				text-decoration: none
				color: $gray-dark

.list-daily
	list-style: none
	margin: -1rem 0 1rem
	padding: 0
	&.show-all li
		display: flex !important
		+xs
			display: block
	li
		display: flex
		align-items: center
		margin-bottom: .5rem
		padding: 1rem
		border-radius: 5px
		+xs
			display: block
		&:hover
			background-color: #fff
			box-shadow: 0 4px 8px rgba(0, 0, 0, .2)
		&.open
			p
				overflow: auto
				height: auto
			.btn-daily
				display: none
		&:nth-child(n+4)
			display: none
		> div
			margin: 0 0 .5rem
			span
				position: relative
				top: 8px
				margin-right: .5rem
				+md
					display: block
					top: 0
					margin: 0
			em
				font-size: .8em
				color: $gray-light
				font-style: normal
			+md
				text-align: center
				margin: 0 3rem 0 0
		p
			line-height: 1.5
			height: 4.5em
			overflow: hidden
			margin: 0
			+md
				height: 3em
				max-width: 570px
		.btn-daily
			font-size: .8em
			display: block
			color: $gray-light
			text-align: right
			cursor: pointer
			transition: .2s
			white-space: nowrap
			margin: .5rem 0 0
			+md
				margin: 0 0 0 3rem
			&:hover
				text-decoration: none
				color: $gray-dark

.list-support
	list-style: none
	margin: 0
	padding: 0
	display: flex
	flex-wrap: wrap
	li
		margin: 0 2rem 2rem 0
		&:first-child
			width: 100%
		img
			height: 50px
			max-width: 100%

.list-btns
	list-style: none
	margin: 0
	padding: 0
	display: flex
	flex-wrap: wrap
	li
		width: 50%
		margin-bottom: 1rem
		+xl
			width: 16.6666%
			&:last-child
				a
					margin-right: 0
		a
			display: block
			background-color: #fff
			box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
			padding: 1rem 0
			text-decoration: none
			text-align: center
			font-size: 1.2em
			border-radius: 5px
			margin-right: 1rem
			img
				margin: 0 auto
			span
				display: block
				margin-top: .5rem

.list-videos
	list-style: none
	padding: 0
	&.list-videos-advanced
		.box-article > div
			background-color: #F9E8D880
	&.list-videos-admin
		.box-article > div
			background-color: #EFF0E0
	> li
		margin-bottom: .5rem
		> a
			display: flex
			align-items: center
			text-decoration: none
			&.btn-box-videos.active
				font-weight: bold
				color: #000
			> span
				margin-right: .5rem
				> em
					font-style: normal
					color: $blue
					white-space: nowrap
					margin-left: .5rem
					text-decoration: underline

.list-videos-demo
	list-style: none
	padding: 0
	margin-bottom: 3rem
	> li
		margin-bottom: 1.5rem
		.box-article
			margin-bottom: 0
	a
		text-decoration: none
		background: url(../img/map/icon-play.png) left 1rem top 1.5rem no-repeat #fff
		background-size: 36px 36px
		padding: 1rem 1rem 1rem 64px
		display: block
		h3
			border: 0
			padding: 0
			height: 4.5em
			line-height: 1.5
			overflow: hidden
		img
			width: 100%
			display: none

.list-units
	list-style: none
	margin: 0
	padding: 0
	li
		margin-bottom: .5rem
