.text-main
	color: $main

.text-link
	color: $blue

.text-gray
	color: #666

.title-main
	font-size: 1.2em
	margin: 1rem 0
	text-align: center
	span
		margin-right: 8px
		position: relative
		top: 6px
	+lg
		writing-mode: vertical-lr
		margin: 0 2rem 0 0
		text-align: left
		span
			writing-mode: lr
			margin: 0 0 4px
			top: 0
.title-lg
	font-size: 1.6em
	margin-bottom: 1rem
.title-sm
	font-size: 1.2em
	display: flex
	align-items: center
	margin-bottom: 1rem
	em
		font-style: normal
		margin: 0 0 0 .5rem
