.box-section#async
    h2.title-main
        span.material-icons-outlined auto_stories
        | 非同步教學模式
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 以下例舉非同步教學模式：
            .article-wrap
                ul.list-table.list-table-3
                    li
                        ol
                            li 網站
                            li 內容
                            li 使用方式
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://adl.edu.tw/withoutlogin.html" target="_blank" rel="noopener noreferrer") 因材網+學習拍
                            li
                                h4 內容
                                div 學習科目及年級
                                    ul
                                        li 國語文 - 1至9年級、108課綱1-2年級、7-8年級、10-11年
                                        li 數學 - 1至9年級、108課綱1-2年級、7-8年級、10-11年級
                                        li 自然 - 3至6年級、理化、108課綱-生物、地科
                                        li 英語文 - 108課綱-3至11年級
                                    p.mb-0 另提供教師備課後遠端進行教學和指派學生學習內容、測驗與作業等學習活動。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://adl.edu.tw/HomePage/webinfo/?id=4" target="_blank" rel="noopener noreferrer") 《操作手冊及影片》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://cooc.tp.edu.tw/" target="_blank" rel="noopener noreferrer") 臺北市酷課雲
                            li
                                h4 內容
                                div 包括國小、國中、高中職階段教學資源，提供「線上教學影片」約11,964部、「線上試題」約43,821題、「酷課網路學校」公開課程數約277門。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://sites.google.com/view/cooc-resouce-instruction" target="_blank" rel="noopener noreferrer") 《操作說明》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.learnmode.net/course_library/395" target="_blank" rel="noopener noreferrer") LearnMode學習吧
                            li
                                h4 內容
                                div 國中小各版本課程：教學影片、講義、練習題。 跨領域素養導向閱讀理解課程，包含時事、國際新聞、科普文本、閱讀理解評量，AI結合語音辨識，增進數位閱讀理解能力、口語表達及敘事能力。 教師亦可使用平臺工具建立個人線上課程供學生使用。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://www.learnmode.net/activity/content/1577" target="_blank" rel="noopener noreferrer") 《使用說明》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="hhttps://www.junyiacademy.org/" target="_blank" rel="noopener noreferrer") 均一教育平台
                            li
                                h4 內容
                                div 包括國小、國中、高中及高職教材影音與測驗。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://www.junyiacademy.org/event/2021-learning-during-covid/" target="_blank" rel="noopener noreferrer") 	《均一防疫專區》
                    li
                        ol
                            li
                                h4 網站
                                div
                                    a.text-link(href="https://www.pagamo.org/" target="_blank" rel="noopener noreferrer") PagamO線上學習平臺
                            li
                                h4 內容
                                div 內容涵蓋國小、國中、高中及高職各版本教科書個科目題庫，以及閱讀素養題目。教師使用題庫選題製作回家作業，學生透過遊戲任務完成作業。後臺可查看學生答題狀況、進行補救教學。
                            li
                                h4 使用方式
                                div
                                    a.text-link(href="https://www.youtube.com/watch?v=1lyAQXEki48&list=PLQm7Z_5e808G7R7NkgnZfafHw85zPVXJw" target="_blank" rel="noopener noreferrer") 《教學影片》
                                    br
                                    a.text-link(href="https://s3-ap-northeast-1.amazonaws.com/pagamof2e/PaGamO%E4%BD%BF%E7%94%A8%E6%89%8B%E5%86%8A-%E7%B9%81.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《使用手冊》
                .box-more.mt-3
                    span.material-icons-outlined.me-1 bookmark
                    .init
                        | 非同步教學定義：當教學者與學習者之間存在時間或空間的分隔，稱為非同步線上學習。
                        a.btn-more(href="#") more
                    .more
                        p 非同步教學定義：當教學者與學習者之間存在時間或空間的分隔，稱為非同步線上學習。
                        p 非同步線上學習環境通常利用媒體科技來傳遞課程內容，並提供教學者與學習者、教材與學習者、學習者與學習者之間的雙向互動。
                        p 常見的非同步線上學習應用如教學者把教學內容或課堂筆記以圖文或影像形式存放在課程網站中，提供學習者可隨時收看或閱讀；或是學習者利用電腦工具繳交作業；或透過線上討論看板發表意見、進行互動等師生不同時在線上的學習形式，即稱為非同步線上學習。
                        p
                        small.text-gray (來源出處：國家教育研究院)
                .box-more.mt-3
                    span.material-icons-outlined.me-1 bookmark
                    .init
                        | 非同步教學可運用數位資源與工具 (如因材網、學習拍、均一等)
                        a.btn-more(href="#") more
                    .more 非同步教學可運用數位資源與工具 (如因材網、學習拍、均一等)，教師登入線上學習平臺備課，指派學生適宜課程、學習內容與作業，教師亦可依據學生的學習狀況，給予適時反饋，指派學習任務或課後作業繳交，透過線上學習平臺可記錄了解學生學習成效。

