.box-section#info
    h2.title-main
        span.material-icons-outlined info
        | 實施注意事項
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                div
                    em 因應疫情教育部業擬定「高級中等以下學校線上課程教學與學習參考指引」供參考。
                    a.text-link(href="https://learning.nchu.cloud.edu.tw/onlinelearning/file_download/%E9%99%84%E4%BB%B61-%E7%B6%B2%E9%A0%81-%E7%B7%9A%E4%B8%8A%E8%AA%B2%E7%A8%8B%E6%95%99%E5%AD%B8%E8%88%87%E5%AD%B8%E7%BF%92%E5%8F%83%E8%80%83%E6%8C%87%E5%BC%951100514_0518.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《參考指引》
            .article-wrap#school-info-article-wrap
                .box-article
                    h3 高級中等學校停課時之補課作業注意事項
                    div
                        p 高級中等學校則循校內行政程序研訂辦理。可採取學校現有之設備進行線上教學補課，滿足每學分 18 節課；學校並得視需要彈性調整定期評量次數，但仍應兼顧學生學習成效。
                        p.tip.mb-0 109 年 3 月 5 日發布臺教授國字第 1090023300 號
                .box-article
                    h3 國民中小學補課原則之補充說明
                    div
                        p 若採線上補課，學校事先規劃及備妥校內線上補課計畫(含實施平臺、實施方式及對未能線上補課學生之相應學習措施等)，國民中小學應將線上補課計畫報經直轄市、縣(市)政府同意後，折抵到校補課時數。
                        p.tip.mb-0 109 年 2 月 27 日發布臺教授國部字第 1090021072 號
                .box-article
                    h3 聽障(損)學生之線上教學參考指引
                    div
                        p.mb-0 規劃聽障(損)學生線上教學之內容及採行不同教學模式時，須歸納學生的學習需求， 請參考「聽損學生接受線上教學參考指引師生版」，調整線上教學模式或配合融入因應措施，並協助聽障(損)學生適應非傳統現場教學，以保障學生之學習權益。
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 學校設備及線上上課之預先準備
            .article-wrap
                .box-article
                    h3 學校教師端
                    div
                        ol.list-desc
                            li 建議學校擇一平臺使用：學校可就教育部提供的同步教學(視訊遠距教學軟體或平臺)，選擇一個平臺使用，避免造成學生面對不同課程，需使用不同的介
                            li 請學校依照學校現有設備及教師使用需求，擇定軟體及硬體需求後盤點設備，如有不足向所屬教育單位反應，必要時呈報教育部協助。
                            li 建議學校預先規劃特定空間作為遠距教學錄製場所，並擺設好設備，在現階段可以供教師試錄和教育訓練用。
                            li 建議學校協助教師熟悉線上學習平臺及教學資源工具使用，以利課程進行。
                            li 如遇授課教師須居家隔離或居家檢疫時，如教師身體狀況無虞且有其意願時，如何提供教師能居家進行遠距教學之錄製。如教師無法居家時錄製，學校需安排其他教師在做好校園防疫工作下，在學校錄製場所中錄製遠距教學影片。
                .box-article
                    h3 學生端
                    div
                        ol.list-desc
                            li 協助學生端：<br>請學校提供家長如遇停課時如何補課之說明、若線上補課所需之硬體設備及網路。
                            li 協助設備需求：<br>電腦設備：建議記憶體4GB以上、硬碟大小32GB以上、螢幕11吋以上；或平板設備：建議記憶體8GB以上、硬碟大小128GB以上、螢幕10吋以上。耳機、視訊鏡頭、麥克風
.bar.bar-yellow.mb-5
