.box-section#mix
    h2.title-main
        span.material-icons-outlined import_contacts
        | 混成教學模式
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 以下例舉混成教學模式
            .article-wrap
                ul.list-table.list-table-2
                    li
                        ol
                            li 主題
                            li 使用方式與範例
                    li
                        ol
                            li
                                h4 主題
                                div 因材網+學習拍+同步教學工具
                            li
                                h4 使用方式與範例
                                div
                                    ul
                                        li
                                            a.text-link(href="https://learning.nchu.cloud.edu.tw/onlinelearning/file_download/%E5%9B%A0%E6%9D%90%E7%B6%B2%20+%20Google%20Meet%E3%80%81Jamboard%E3%80%81Google%20Classroom.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 因材網+Google Meet、Jamboard、Google Classroom
                                        li
                                            a.text-link(href="https://learning.nchu.cloud.edu.tw/onlinelearning/file_download/%E5%9B%A0%E6%9D%90%E7%B6%B2+google%20Meet%E3%80%81google%20classroom.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 因材網+Google Meet、Google Classroom
                                        li
                                            a.text-link(href="https://www.youtube.com/playlist?list=PLLrPV9JIt6k3p39bmRvH_psQIPPQn7hnX" target="_blank" rel="noopener noreferrer") 學習拍+Teams-教師端操作影片
                                        li
                                            a.text-link(href="https://youtu.be/IUWo3xMdNQo" target="_blank" rel="noopener noreferrer") 學習拍+Teams-學生端操作影片
                                        li
                                            a.text-link(href="https://youtu.be/8J46tgc6xtU" target="_blank" rel="noopener noreferrer") Teams應用程式及web版差異補充說明
                    li
                        ol
                            li
                                h4 主題
                                div 其他模式
                            li
                                h4 使用方式與範例
                                div 教師可自行選定
                                    a.text-link(href="https://learning.nchu.cloud.edu.tw/onlinelearning/#sync-tool" target="_blank" rel="noopener noreferrer") ［同步教學工具］
                                    | 及線上學習平臺搭配實施。

                .box-more.mt-3
                    span.material-icons-outlined.me-1 bookmark
                    .init
                        | 混成教學定義：廣義的混成學習則泛指結合應用不同的教學策略
                        a.btn-more(href="#") more
                    .more
                        p 混成教學定義：廣義的混成學習則泛指結合應用不同的教學策略、教學方法、教學媒體、教學科技的一種教學模式，涵蓋同步（synchronous）與非同步（asynchronous）學習的一連串學習活動。
                        p
                            small.text-gray (來源出處：
                                a.text-link(href="https://terms.naer.edu.tw/detail/1678942/?index=1" target="_blank" rel="noopener noreferrer") 國家教育研究院
                                | )
                .box-more.mt-3
                    span.material-icons-outlined.me-1 bookmark
                    .init
                        | 混成教學課程可運用同步與非同步教學模式，可讓線上教學時間更有彈性，亦可進行師生互動
                        a.btn-more(href="#") more
                    .more 混成教學課程可運用同步與非同步教學模式，可讓線上教學時間更有彈性，亦可進行師生互動，並提升學習興趣與成效。
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 混成教學模式，實施注意事項及步驟
            .article-wrap
                .box-article
                    h3 教師線上同步教學搭配非同步教學學習平臺上課
                    div
                        ol.list-desc.list-unstyled
                            li 【 步驟 1 】確認已備妥電腦硬體設備及網路(含軟體安裝)
                            li 【 步驟 2 】教師(會議主持人/授課者) 使用教育雲端帳號申請會議室(取得會議室連結及會議室密碼)
                            li 【 步驟 3 】閱讀並練習熟悉直播教學、非同步教學平臺之操作使用手冊
                            li 【 步驟 4 】進行備課、依據課程進度安排學習素材、學習任務和測驗等。
                            li 【 步驟 5 】準備上課：
                                ol
                                    li 公布上課之同步教學平臺給學生(提供同步學習的視訊會議室連結及會議室密碼)
                                    li 公布使用之非同步教學平臺網址給學生
                                    li 確認學生已經學會使用上述公布之同步教學及非同步教學平臺
                                    li 確認學生已經知道非同步教學(學習平臺)之帳號與密碼(使用教育雲端帳號或申請一般帳號)
                                    li 公布課表(上課日期、時間及科目)予學生
                            li 【 步驟 6 】課中：
                                ol
                                    li 確認所有學生已經登入同步直播課程後(點名)，開始上課
                                    li 注意觀察學生上課情形(如有無斷訊或離開視訊教室等)
                                    li 指導學生使用學習平臺(如點選教材、練習或作業、提交作業等)
                                    li 依據學生的學習情形，給予適當的反饋、指派學習任務或課後作業/繳交等
                            li 【 步驟 7 】課後：進行學生作業批改或學生問題答覆等
                .box-article
                    h3 學生線上上課與學習
                    div
                        ol.list-desc.list-unstyled
                            li 【 步驟 1 】協助學生確認已備妥電腦硬體設備及網路(含軟體安裝)
                            li 【 步驟 2 】教師(或家長)協助學生申請帳號並閱讀了解操作使用手冊
                            li 【 步驟 3 】教師(或家長)協助學生練習操作平臺與觀察學習進度等
                            li 【 步驟 4 】準備上課：
                                ol
                                    li 學生取得教師同步教學平臺-視訊會議室連結及會議室密碼
                                    li 學生知道教師所用的非同步教學(學習平臺)
                                    li 學生知道非同步教學(學習平臺)之帳號與密碼，並會登入
                                    li 學生知道課表(上課日期、時間及科目)
                            li 【 步驟 5 】上課中：(必要時，家長須協助或陪同)
                                ol
                                    li 學生登入上課、專心進行學習及課間互動
                                    li 學生紀錄教師所指派的學習任務、練習或作業/繳交
                                    li 線上學習時，並注意居家設備使用安全等
                            li 【 步驟 6 】課後：
                                ol
                                    li 學生進行教師指派的學習任務、練習或作業並繳交
                                    li 家長瞭解孩子的作業狀況及學習進度
.bar.bar-pink.mb-5
