.box-section#sync
    h2.title-main
        span.material-icons-outlined menu_book
        | 同步教學模式
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 以下例舉同步教學模式：
            .article-wrap
                .box-article
                    h3 同步教學可分為
                    div
                        ol.list-desc
                            li 運用視訊同步教學工具 (如Jitsi Meet、Microsoft Teams、Cisco WebEx、Google Meet) ，搭配教師現有的教材(如教科書補充教材)，讓教師與學生同步上課互動學習。
                            li 運用非視訊同步教學的工具 (如Google Classroom 討論區、Juiker、Line)，讓教師與學生可透過文字、聲音進行同步上課互動學習。
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 以下例舉同步教學工具與使用範例：
            .article-wrap
                ul.list-table.list-table-2
                    li
                        ol
                            li 主題
                            li 使用方式與範例
                    li
                        ol
                            li
                                h4 主題
                                div Teams+現有數位教材
                            li
                                h4 使用方式與範例
                                div
                                    a.text-link(href="https://learning.cloud.edu.tw/onlinelearning_file/%E9%99%84%E4%BB%B61%E6%A8%A1%E5%BC%8F%E4%B8%80Teams+%E7%8F%BE%E6%9C%89%E6%95%B8%E4%BD%8D%E6%95%99%E6%9D%90.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《以Microsoft Teams實現遠距學習 》
                                    br
                                    a.text-link(href="https://kentxchang.blogspot.com/2020/05/google-meetgoogle-meet-g-suite.html?m=1" target="_blank" rel="noopener noreferrer") 《如何利用google meet做線上授課》
                    li
                        ol
                            li
                                h4 主題
                                div Google+現有數位教材
                            li
                                h4 使用方式與範例
                                div
                                    a.text-link(href="https://learning.nchu.cloud.edu.tw/onlinelearning/file_download/%E4%BB%A5google_Meet%E5%AF%A6%E7%8F%BE%E9%81%A0%E8%B7%9D%E6%95%99%E5%AD%B8.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《以Google Meet實現遠距教學》
                                    br
                                    a.text-link(href="https://learning.nchu.cloud.edu.tw/onlinelearning/file_download/%E4%BB%A5google_Meet%E5%AF%A6%E7%8F%BE%E9%81%A0%E8%B7%9D%E6%95%99%E5%AD%B8.pdf?v=2.1.4" target="_blank" rel="noopener noreferrer") 《如何利用MicroSoft teams做線上授課工具》
                    li
                        ol
                            li
                                h4 主題
                                div 其他模式
                            li
                                h4 使用方式與範例
                                div
                                    | 教師可自行選定同步教學軟體或工具及線上學習平臺搭配實施。 教師可自行選定
                                    a.text-link(href="https://learning.nchu.cloud.edu.tw/onlinelearning/#sync-tool" target="_blank" rel="noopener noreferrer") ［同步教學工具］
                                    | ，搭配現有的教材(如教科書補充教材)實施。
                .box-more.mt-3
                    span.material-icons-outlined.me-1 bookmark
                    .init
                        | 同步教學模式，係指在學習環境中，教學者與學習者雖然分隔兩地，但仍能即時地進行教與學之互動。
                        a.btn-more(href="#") more
                    .more
                        p 同步教學模式，係指在學習環境中，教學者與學習者雖然分隔兩地，但仍能即時地進行教與學之互動。為了達成教學過程中必要的互動，學習者通常使用線上教室應用程式，來與其他學習者或教學者進行類似面對面溝通。
                        p
                            small.text-gray (來源出處：
                                a.text-link(href="https://terms.naer.edu.tw/detail/1678790/" target="_blank" rel="noopener noreferrer") 國家教育研究院
                                | )
                .box-more.mt-3.open
                    span.material-icons-outlined.me-1 bookmark
                    .more 同步教學工具，搭配教師現有的教材，讓居家學生可與教師、同學同步上課學習。為順利進行線上上課，實施前須事先準備。
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 為順利進行線上上課，同步教學模式，實施注意事項及參考步驟如下所列：
            .article-wrap
                .box-article
                    h3 教師線上上課前準備事項及步驟
                    div
                        ol.list-desc.list-unstyled
                            li 【 步驟 1 】確認已備妥電腦硬體設備及網路(含軟體安裝)
                            li 【 步驟 2 】教師(會議主持人/授課者) 使用教育雲端帳號申請會議室(取得會議室連結及會議室密碼)
                            li 【 步驟 3 】閱讀並練習熟悉直播教學、非同步教學平臺之操作使用手冊
                            li 【 步驟 4 】進行備課、依據課程進度安排學習素材、學習任務和測驗等。
                            li 【 步驟 5 】準備上課：
                                ol
                                    li 公布上課之同步教學平臺給學生(提供同步學習的視訊會議室連結及會議室密碼)
                                    li 確認學生已經學會使用上述公布之同步教學平臺
                                    li 公布課表(上課日期、時間及科目)予學生
                            li 【 步驟 6 】課中：
                                ol
                                    li 確認所有學生已經登入同步直播課程後(點名)，開始上課講授
                                    li 注意觀察學生上課情形(如有無斷訊或離開視訊教室等)
                                    li 依據學生的學習情形，給予適當的反饋、指派學習任務或課後作業/繳交等
                            li 【 步驟 7 】課後：進行學生作業批改或學生問題答覆等
.bar.bar-brown.mb-5
