.box-section#mix
    h2.title-main
        span.material-icons-outlined school
        | 停課學生
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 優惠方案
            .article-wrap
                ul.list-table.list-table-4
                    li
                        ol
                            li 電信業者
                            li 方案名
                            li 方案內容
                            li 受理及服務方式
                    li
                        ol
                            li
                                h4 電信業者
                                div 中華電信
                            li
                                h4 方案名
                                div 預付卡90日<br>學生上網防疫包
                            li
                                h4 方案內容
                                div
                                    ul
                                        li 90天上網無限瀏覽900元。
                                        li 上網無限瀏覽自申辦日起算90天、門號效期180天，服務屆期仍須使用上網服務，請逕洽中華電信網路門市續儲使用。
                                        li 本優惠方案限學生新申租(含NP)預付卡門號，活動日期至110/6/30止。
                                        li 防疫期間，倘無學生證或相關學生證明，只要符合適齡學生(12年國教)可不持學生證即放寬客戶辦理。
                            li
                                h4 受理及服務方式
                                div
                                    ol
                                        li 中華電信直營門市申辦(含特約服務中心)。
                                        li 依各縣市停課公告或憑學校開立停課證明申辦。
                                        li 服務電話：0800-080-090或用戶手機直撥800
                    li
                        ol
                            li
                                h4 電信業者
                                div 遠傳電信
                            li
                                h4 方案名
                                div 299元/月<br>(通信約)
                            li
                                h4 方案內容
                                div
                                    ul
                                        li 限遠傳月租型用戶子女申辦。
                                        li 綁定月租門號，前3個月免費體驗，之後每月定期儲值66元可享輕速上網吃到飽（1G之後降1mbps)、網內通話300元。
                            li
                                h4 受理及服務方式
                                div
                                    ol
                                        li 遠傳直營門市申辦。
                                        li 服務電話：0936-000-777或用戶手機直播7
                    li
                        ol
                            li
                                h4 電信業者
                                div 遠傳電信
                            li
                                h4 方案名
                                div 遠傳易付防疫上網包
                            li
                                h4 方案內容
                                div
                                    ul
                                        li 免綁約、免月租，可隨時儲值。
                                        li 1199元享連續2個月無限飆網，國內通話費100元，30天網內通話2,000元。
                            li
                                h4 受理及服務方式
                                div
                                    ol
                                        li 遠傳直營、加盟門市申辦。
                                        li 服務電話：0936-000-777或用戶手機直播7
                    li
                        ol
                            li
                                h4 電信業者
                                div 台灣大哥大
                            li
                                h4 方案名
                                div 月租幫預付儲值<br>(吃到飽)
                            li
                                h4 方案內容
                                div
                                    ul
                                        li 免綁約，4G全速吃到飽31日，599元。
                                        li 預付卡小管家服務：月租型用戶可透過台灣大哥大官網或台灣大客服APP，綁定名下預付卡進行儲值，費用隨月租型帳單收取。
                            li
                                h4 受理及服務方式
                                div
                                    ol
                                        li 台灣大哥大官網或台灣大客服APP(預付卡小管家服務)
                                        li 服務電話：0809-000-852或用戶手機直播188、 02-66062999(付費)
                    li
                        ol
                            li
                                h4 電信業者
                                div 亞太電信
                            li
                                h4 方案名
                                div 4G上網吃到飽<br>不綁約方案
                            li
                                h4 方案內容
                                div
                                    ul
                                        li 月租98元：每月8GB不限速流量，用畢享3Mbps輕速上網吃到飽、網內免費、網外/市話送20分鐘。
                                        li 月租148元：每月10GB不限速流量，用畢享12Mbps輕速上網吃到飽、網內免費、網外/市話送30分鐘。
                                        li 月租238元：不限速上網吃到飽，網內免費、網外/市話送40分鐘。
                            li
                                h4 受理及服務方式
                                div
                                    ol
                                        li 亞太電信數位門市申辦。
                                        li 萊爾富、全家便利商店購卡申辦，10分鐘開通。
                                        li 服務電話：0809-050-982
                    li
                        ol
                            li
                                h4 電信業者
                                div 亞太電信
                            li
                                h4 方案名
                                div 預付卡<br>(吃到飽)
                            li
                                h4 方案內容
                                div
                                    ul
                                        li 15天預付短效期純上網卡：優惠價500元。
                                        li 預付半年純上網卡：優惠價1499元+再送20天。
                            li
                                h4 受理及服務方式
                                div
                                    ol
                                        li 亞太電信直營門市申辦。
                                        li 服務電話：0809-050-982
                    li
                        ol
                            li
                                h4 電信業者
                                div 台灣之星
                            li
                                h4 方案名
                                div 試用方案<br>(30天免費)
                            li
                                h4 方案內容
                                div
                                    ul
                                        li 30天免費試用方案。
                                        li 非現有台灣之星用戶且1年內無申請紀錄者。
                            li
                                h4 受理及服務方式
                                div
                                    ol
                                        li 台灣之星門市/網路門市申辦。
                                        li 服務電話：0800-661-234
                    li
                        ol
                            li
                                h4 電信業者
                                div 台灣之星
                            li
                                h4 方案名
                                div 預付卡
                            li
                                h4 方案內容
                                div 45天4G上網吃到飽+100元通話費：優惠價649元。
                            li
                                h4 受理及服務方式
                                div
                                    ol
                                        li 台灣之星門市/網路門市申辦。
                                        li 服務電話：0800-661-234
                    li
                        ol
                            li
                                h4 電信業者
                                div 台灣之星
                            li
                                h4 方案名
                                div 預付卡
                            li
                                h4 方案內容
                                div 60天5G上網60GB+100元通話費：優惠價799元。
                            li
                                h4 受理及服務方式
                                div
                                    ol
                                        li 台灣之星門市/網路門市申辦。
                                        li 服務電話：0800-661-234
                .box-more.mt-3.open
                    span.material-icons-outlined.me-1 bookmark
                    .more
                        a.text-link(href="https://video.cloud.edu.tw/video/co_video_content.php?p=369257" target="_blank" rel="noopener noreferrer") 行動網卡使用說明
                        | ，內容包含 Android系統平板、iOS系統平板、Windows筆記型電腦連線設定。


