.box-section#mix
    h2.title-main
        span.material-icons-outlined request_quote
        | 經濟弱勢學生
    .box-content
        .box-wrap
            .box-toggle
                span.material-icons-outlined.text-main.me-2 expand_circle_down
                em 免費 4G 門號方案
            .article-wrap
                ul.list-table.list-table-4-equal
                    li
                        ol
                            li 電信業者
                            li 數量
                            li 使用天數
                            li 啟用期限
                    li
                        ol
                            li
                                h4 電信業者
                                div 中華電信
                            li
                                h4 數量
                                div 10,000門
                            li
                                h4 使用天數
                                div 15天
                            li
                                h4 啟用期限
                                div 111年3月18日
                    li
                        ol
                            li
                                h4 電信業者
                                div 中華電信
                            li
                                h4 數量
                                div 25,000門
                            li
                                h4 使用天數
                                div 45天
                            li
                                h4 啟用期限
                                div 112年5月20日
                    li
                        ol
                            li
                                h4 電信業者
                                div 遠傳電信
                            li
                                h4 數量
                                div 10,000門
                            li
                                h4 使用天數
                                div 15天
                            li
                                h4 啟用期限
                                div 111年12月31日
                    li
                        ol
                            li
                                h4 電信業者
                                div 遠傳電信
                            li
                                h4 數量
                                div 25,000門
                            li
                                h4 使用天數
                                div 45天
                            li
                                h4 啟用期限
                                div 111年12月31日
                    li
                        ol
                            li
                                h4 電信業者
                                div 台灣大哥大
                            li
                                h4 數量
                                div 10,000門
                            li
                                h4 使用天數
                                div 15天
                            li
                                h4 啟用期限
                                div 111年12月31日
                    li
                        ol
                            li
                                h4 電信業者
                                div 台灣大哥大
                            li
                                h4 數量
                                div 25,000門
                            li
                                h4 使用天數
                                div 45天
                            li
                                h4 啟用期限
                                div 111年12月31日
                    li
                        ol
                            li
                                h4 電信業者
                                div 亞太電信
                            li
                                h4 數量
                                div 10,000門
                            li
                                h4 使用天數
                                div 15天
                            li
                                h4 啟用期限
                                div 111年12月31日
                    li
                        ol
                            li
                                h4 電信業者
                                div 亞太電信
                            li
                                h4 數量
                                div 25,000門
                            li
                                h4 使用天數
                                div 45天
                            li
                                h4 啟用期限
                                div 111年12月31日
                    li
                        ol
                            li
                                h4 電信業者
                                div 台灣之星
                            li
                                h4 數量
                                div 10,000門
                            li
                                h4 使用天數
                                div 15天
                            li
                                h4 啟用期限
                                div 111年12月31日
                    li
                        ol
                            li
                                h4 電信業者
                                div 台灣之星
                            li
                                h4 數量
                                div 25,000門
                            li
                                h4 使用天數
                                div 45天
                            li
                                h4 啟用期限
                                div 111年12月31日
                .box-more.mt-3.open
                    span.material-icons-outlined.me-1 bookmark
                    .more 【 申請受理單位 】教育部國民及學前教育署，各直轄市政府教育局，各縣市政府教育處
                .box-more.mt-3.open
                    span.material-icons-outlined.me-1 bookmark
                    .more 【 啟用暨使用服務電話 】
                        ul
                            li 中華電信：
                                a.text-link(href="tel:0800080090") 0800-080-090
                            li 遠傳電信：
                                a.text-link(href="tel:0936000777") 0936-000-777
                            li 台灣大哥大：
                                a.text-link(href="tel:0809000852") 0809-000-852
                            li 亞太電信：
                                a.text-link(href="tel:0809050982") 0809-050-982
                            li 台灣之星：
                                a.text-link(href="tel:0800661234") 0800-661-234

