.box-wrap
    .article-wrap
        ul.list-videos.row.list-videos-admin
            li.col-md-6
                .box-article
                    h3 國中小學線上教學行政推動建議
                    div
                        ul.list-videos
                            li
                                a.btn-box-videos(href="#" data-target="#admin-admin-1-1")
                                    span.material-icons-outlined play_circle_filled
                                    span 軟硬體設備的準備、線上教學的執行、處室分工與配套、親師生溝通等
                                        // em (1)
            // include ./videos/1-1.pug
